<template>
  <div v-loading="savingMedication" class="form-container">
    <el-form
      ref="selectedMedication"
      :model="selectedMedication"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Livestock" prop="live_stock">
        <el-select
          v-model="selectedMedication.livestock_id"
          placeholder="Select Livestock"
          filterable
          class="span"
          @input="
            fetchLivestockBatch();
            fetchMedicineStockBatch();
          "
        >
          <el-option
            v-for="(live_stock, index) in liveStocks"
            :key="index"
            :value="live_stock.id"
            :label="
              live_stock.name.toUpperCase() +
                ' (' +
                live_stock.category.name +
                ')'
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Batch" prop="live_stock">
        <el-select
          v-model="selectedMedication.live_stock_batch_id"
          placeholder="Select Batch"
          filterable
          class="span"
        >
          <el-option
            v-for="(batch, index) in batches"
            :key="index"
            :value="batch.id"
            :label="batch.batch_no"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Medicine" prop="medicine_stock_batch_id">
        <el-select
          v-model="selectedMedication.selected_medicine_batch_index"
          placeholder="Select Medicine"
          filterable
          class="span"
          @input="setSelectedMedicineBatch()"
        >
          <el-option
            v-for="(medicine_batch, index) in medicine_stock_batches"
            :key="index"
            :value="index"
            :label="
              medicine_batch.medicine.name +
                ' (' +
                medicine_batch.batch_no +
                ')'
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Medication Date" prop="medication_date">
        <el-date-picker
          v-model="selectedMedication.medication_date"
          type="date"
          outline
          format="yyyy/MM/dd"
          value-format="yyyy-MM-dd"
          :picker-options="pickerOptions"
          style="width: 100%;"
        />
        <small>Set the date of medication</small>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="selectedMedication.quantity" type="number" min="0">
          <template slot="append">{{ package_type }}</template>
        </el-input>
        <small>Enter the quantity of medicine consumed in {{ package_type }} ({{ net_weight + unit_of_measurement }} each)</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="editMedication()">
        Update
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addMedicationResource = new Resource('livestock/medications/update');
const fetchLivestockBatchesResource = new Resource('livestock/fetch-batches');
const fetchMedicineStockBatchesResource = new Resource(
  'inventory/medicine-stock/fetch-batches'
);
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => [],
    },
    selectedMedication: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      batches: [],
      medicine_stock_batches: [],
      // selectedMedication: {
      //   livestock_id: '',
      //   live_stock_batch_id: '',
      //   medication_date: '',
      //   medicine_stock_batch_id: '',
      //   quantity: '',
      //   selected_medicine_batch_index: '',
      // },
      savingMedication: false,
      package_type: '',
      net_weight: '',
      unit_of_measurement: '',
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
    };
  },
  mounted() {
    this.fetchLivestockBatch();
    this.fetchMedicineStockBatch();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    editMedication() {
      const app = this;
      const params = app.selectedMedication;
      app.savingMedication = true;
      addMedicationResource
        .update(params.id, params)
        .then(response => {
          app.savingMedication = false;
          app.$emit('update', response.medication);
        })
        .catch(error => {
          console.log(error.message);
          app.savingMedication = false;
        });
    },
    fetchLivestockBatch() {
      const app = this;
      const livestock_id = app.selectedMedication.livestock_id;
      // app.selectedMedication.batch_id = '';
      fetchLivestockBatchesResource.get(livestock_id).then(response => {
        app.batches = response.batches;
        // app.selectedMedication.batch_id = app.batches[0].id;
      });
    },
    fetchMedicineStockBatch() {
      const app = this;
      const livestock_id = app.selectedMedication.livestock_id;
      fetchMedicineStockBatchesResource.get(livestock_id).then(response => {
        app.medicine_stock_batches = response.medicine_stock_batches;
      });
    },
    setSelectedMedicineBatch() {
      const app = this;
      const index = app.selectedMedication.selected_medicine_batch_index;
      app.selectedMedication.medicine_stock_batch_id = app.medicine_stock_batches[index].id;
      app.package_type = app.medicine_stock_batches[index].package_type;
      app.unit_of_measurement = app.medicine_stock_batches[index].unit_of_measurement;
      app.net_weight = app.medicine_stock_batches[index].net_weight;
    },
  },
};
</script>
