<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Broken Eggs</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['record broken eggs'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> Add New Record</a>
        </span>
      </div>
      <div class="box-body">
        <div class="callout callout-danger">
          <label>TOTAL PIECES OF BROKEN EGGS: {{ total_balance }} pieces</label><hr>
          <label>TOTAL CRATES OF BROKEN EGGS: {{ convertToCrate(total_balance) }}</label>
        </div>
        <v-client-table
          v-model="broken_eggs"
          :columns="columns"
          :options="options"
        >
          <div slot="confirmer.name" slot-scope="props">
            <span v-if="props.row.confirmed_by !== null">
              {{ props.row.confirmer.name }}
            </span>
            <span v-else>
              <div v-if="checkPermission(['confirm broken eggs'])">
                <a

                  class="btn btn-success"
                  @click="confirmBrokenEgg(props.row.id, props.row, props.index)"
                ><i class="fa fa-check" />
                </a>
              </div>
              <div v-else class="alert alert-danger">
                Not Confirmed
              </div>

            </span>
          </div>
          <div slot="action" slot-scope="props">
            <span v-if="props.row.confirmed_by === null">
              <a
                v-if="checkPermission(['record broken eggs'])"
                class="btn btn-warning"
                @click="
                  selected_index = props.index;
                  selected_broken_egg = props.row;
                  editFormVisible = true;
                "
              ><i class="fa fa-edit" />
              </a>
              <a
                v-if="checkPermission(['record broken eggs'])"
                class="btn btn-danger"
                @click="
                  deleteStockBrokenEgg(props.row.id, props.row.name, props.index)
                "
              ><i class="fa fa-trash" />
              </a>

            </span>
            <!--  -->

          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add New Record of Broken-Egg'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-broken-egg @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Broken-Egg Record'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-broken-egg
        v-if="editFormVisible"
        :selected-broken-egg="selected_broken_egg"
        @update="updateTable"
      />
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddBrokenEgg from './partials/BrokenEggs/Add';
import EditBrokenEgg from './partials/BrokenEggs/Edit';

const brokenEggsResource = new Resource('inventory/egg-stock/broken-eggs');
const confirmBrokenEggResource = new Resource('inventory/egg-stock/confirm-broken-eggs');
const deleteBrokenEggsResource = new Resource('inventory/egg-stock/destroy-broken-eggs');
export default {
  components: {
    AddBrokenEgg,
    EditBrokenEgg,
  },
  data() {
    return {
      broken_eggs: [],
      total_balance: 0,
      columns: [
        'action',
        'quantity',
        'date',
        'saved_by.name',
        'confirmer.name',
      ],

      options: {
        headings: {
          'saved_by.name': 'Saved By',
          'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['saved_by.name', 'confirmer.name'],
        filterable: ['saved_by.name', 'confirmer.name'],
      },
      page: {
        option: 'list',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_broken_egg: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchBrokenEggs();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchBrokenEggs() {
      const app = this;
      const loader = brokenEggsResource.loaderShow();
      brokenEggsResource
        .list()
        .then(response => {
          app.broken_eggs = response.broken_eggs;
          app.updateTotalBalance();
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(new_row) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      app.broken_eggs.unshift(new_row);
      app.updateTotalBalance();
      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.broken_eggs.splice(app.selected_index - 1, 1, updated_row);
      app.updateTotalBalance();
      app.closeModal();
    },
    confirmBrokenEgg(id, broken_egg_row, index){
      const app = this;
      const message = 'Are you sure you want to confirm this record? Click OK to Confirm.';
      if (confirm(message)) {
        const loader = confirmBrokenEggResource.loaderShow();
        confirmBrokenEggResource
          .update(id, broken_egg_row)
          .then(response => {
            app.broken_eggs.splice(index - 1, 1, response.broken_egg);
            app.updateTotalBalance();
            // const i = app.live_stock_batches.indexOf(batch);
            // app.live_stock_batches[i] = response.live_stock_batch;
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    deleteStockBrokenEgg(id, name, index) {
      const app = this;
      const message =
        'Are you sure you want to delete this record? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteBrokenEggsResource.loaderShow();
        deleteBrokenEggsResource
          .destroy(id)
          .then(response => {
            app.broken_eggs.splice(index - 1, 1);
            app.updateTotalBalance();
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    updateTotalBalance(){
      const app = this;
      var total_balance = 0;
      app.broken_eggs.forEach((broken_egg) => {
        total_balance += parseInt(broken_egg.quantity);
      });
      app.total_balance = total_balance;
    },
    convertToCrate(total_balance){
      const divider = 30;
      const modulus = total_balance % divider;
      if (modulus > 0) {
        return (total_balance - modulus) / divider + ' crate(s) and ' + modulus + ' piece(s)';
      }
      return total_balance / divider + ' crate(s)';
    },
  },
};
</script>
