<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Eggs in Stock</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['stock eggs'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> Add New</a>
        </span>
      </div>
      <div class="box-body">
        <el-row :gutter="10" class="panel-group">
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-aqua-gradient">
              <div class="inner">
                <label>{{ convertToCrate(total_quantity) }}</label>
                <p>Total Stocked</p>
              </div>
            </div>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-maroon-gradient">
              <div class="inner">
                <label>{{ convertToCrate(total_sold) }}</label>
                <p>Total Sold</p>
              </div>
            </div>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-black-gradient">
              <div class="inner">
                <label>{{ convertToCrate(total_broken) }}</label>
                <p>Total Broken</p>
              </div>
            </div>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-green-gradient">
              <div class="inner">
                <label>{{ convertToCrate(total_balance) }}</label>
                <p>Balance</p>
              </div>
            </div>
          </el-col>
        </el-row>
        <v-client-table
          v-model="eggs_in_stock"
          :columns="columns"
          :options="options"
        >
          <div slot="confirmer.name" slot-scope="props">
            <span v-if="props.row.confirmed_by !== null">
              {{ props.row.confirmer.name }}
            </span>
            <span v-else>
              <div v-if="checkPermission(['confirm stocked eggs'])">
                <a
                  class="btn btn-success"
                  @click="confirmEggStock(props.row.id, props.row, props.index)"
                ><i class="fa fa-check" />
                </a></div>
              <div v-else class="alert alert-danger">
                Not Confirmed
              </div>
            </span>
          </div>

          <div slot="action" slot-scope="props">
            <span v-if="props.row.confirmed_by === null">
              <a
                v-if="checkPermission(['stock eggs'])"
                class="btn btn-warning"
                @click="
                  selected_index = props.index;
                  selected_stock = props.row;
                  editFormVisible = true;
                "
              ><i class="fa fa-edit" />
              </a>

              <!-- <a
                class="btn btn-danger"
                @click="deleteStockEgg(props.row.id, props.row, props.index)"
              ><i class="fa fa-trash" />
              </a> -->
            </span>
            <!-- <span v-else>
              <a
                class="btn btn-default"
                @click="
                  selected_stock = props.row;
                  page.option = 'view_details';
                "
              ><i class="el-icon-view" />
              </a>
            </span> -->
          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add Eggs to Stock'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-egg-stock :live-stocks="live_stocks" @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Stocked Eggs'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-egg-stock
        v-if="editFormVisible"
        :live-stocks="live_stocks"
        :selected-stock="selected_stock"
        @update="updateTable"
      />
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddEggStock from './partials/Eggs/AddStock';
import EditEggStock from './partials/Eggs/EditStock';
const liveStockResource = new Resource('livestock');
const eggsInStockResource = new Resource('inventory/egg-stock');
const confirmEggStockResource = new Resource(
  'inventory/egg-stock/confirm-stock'
);
const deleteLiveStockEggsResource = new Resource('inventory/egg-stock/destroy');
export default {
  components: {
    AddEggStock,
    EditEggStock,
  },
  data() {
    return {
      live_stocks: [],
      eggs_in_stock: [],
      total_balance: 0,
      total_sold: 0,
      total_broken: 0,
      total_quantity: 0,
      columns: [
        'action',
        'live_stock.name',
        'livestock_batch.batch_no',
        'batch_no',
        'quantity',
        'sold',
        'broken',
        'balance',
        'stock_officer.name',
        'confirmer.name',
      ],

      options: {
        headings: {
          'live_stock.name': 'Livestock',
          'livestock_batch.batch_no': 'Livestock Batch',
          'batch_no': 'Egg Batch',
          'stock_officer.name': 'Stocked By',
          'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['live_stock.name', 'batch_no', 'livestock_batch.batch_no'],
        filterable: ['live_stock.name', 'batch_no', 'livestock_batch.batch_no'],
      },
      page: {
        option: 'list',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_stock: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchAllLivestock();
    this.fetchEggsInStock();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchAllLivestock() {
      const app = this;
      liveStockResource
        .list()
        .then(response => {
          app.live_stocks = response.live_stocks;
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    fetchEggsInStock() {
      const app = this;
      const loader = eggsInStockResource.loaderShow();
      eggsInStockResource
        .list()
        .then(response => {
          app.eggs_in_stock = response.eggs_in_stock;
          app.updateTotalBalance();
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(new_row) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      app.eggs_in_stock.unshift(new_row);
      app.updateTotalBalance();
      // app.eggs_in_stock = eggs_in_stock;

      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.eggs_in_stock.splice(app.selected_index - 1, 1, updated_row);
      app.updateTotalBalance();
      app.closeModal();
    },
    confirmEggStock(id, row, index) {
      const app = this;
      const message =
        'Are you sure you want to confirm egg stock with batch no: ' +
        row.batch_no +
        '? Click OK to Confirm.';
      if (confirm(message)) {
        const loader = confirmEggStockResource.loaderShow();
        confirmEggStockResource
          .update(id, row)
          .then(response => {
            app.eggs_in_stock.splice(index - 1, 1, response.egg_stock);
            app.updateTotalBalance();
            // const i = app.live_stock_batches.indexOf(batch);
            // app.live_stock_batches[i] = response.live_stock_batch;
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    deleteStockEgg(id, row, index) {
      const app = this;
      const message =
        'Are you sure you want to delete ' +
        row.egg.name +
        ' with batch no: ' +
        row.batch_no +
        '? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteLiveStockEggsResource.loaderShow();
        deleteLiveStockEggsResource
          .destroy(id)
          .then(response => {
            app.eggs_in_stock.splice(index - 1, 1);
            app.updateTotalBalance();
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    updateTotalBalance(){
      const app = this;
      var total_balance = 0;
      var total_sold = 0;
      var total_broken = 0;
      var total_quantity = 0;
      app.eggs_in_stock.forEach((egg_stock) => {
        total_balance += parseInt(egg_stock.balance);
        total_sold += parseInt(egg_stock.sold);
        total_broken += parseInt(egg_stock.broken);
        total_quantity += parseInt(egg_stock.quantity);
      });
      app.total_balance = total_balance;
      app.total_sold = total_sold;
      app.total_broken = total_broken;
      app.total_quantity = total_quantity;
    },
    convertToCrate(total_balance){
      const divider = 30;
      const modulus = total_balance % divider;
      if (modulus > 0) {
        return (total_balance - modulus) / divider + ' crate(s) and ' + modulus + ' piece(s)';
      }
      return total_balance / divider + ' crate(s)';
    },
  },
};
</script>
