<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Feeds in Stock</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['stock feeds'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> Add New</a>
        </span>
      </div>
      <div class="box-body">
        <el-row :gutter="10">
          <el-select
            v-model="form.livestock_id"
            placeholder="Select Livestock"
            filterable
            class="span"
            @input="fetchFeedsInStock()"
          >
            <el-option
              v-for="(live_stock, index) in live_stocks"
              :key="index"
              :value="live_stock.id"
              :label="
                live_stock.name.toUpperCase() +
                  ' (' +
                  live_stock.category.name +
                  ')'
              "
            />
          </el-select>
        </el-row>
        <br>
        <el-row :gutter="10" class="panel-group">
          <el-col :xs="24" :sm="24" :lg="8" class="card-panel-col">
            <div class="small-box bg-aqua-gradient">
              <div class="inner">
                <label>{{ currency + Number(total_stocked).toLocaleString() }}</label>
                <p>Total Stocked</p>
              </div>
            </div>
          </el-col>
          <el-col :xs="24" :sm="24" :lg="8" class="card-panel-col">
            <div class="small-box bg-black-gradient">
              <div class="inner">
                <label>{{ currency + Number(total_consumed).toLocaleString() }}</label>
                <p>Total Consumed</p>
              </div>
            </div>
          </el-col>
          <el-col :xs="24" :sm="24" :lg="8" class="card-panel-col">
            <div class="small-box bg-green-gradient">
              <div class="inner">
                <label>{{ currency + Number(total_remaining).toLocaleString() }}</label>
                <p>Total Remaining</p>
              </div>
            </div>
          </el-col>
        </el-row>
        <v-client-table
          v-model="feeds_in_stock"
          :columns="columns"
          :options="options"
        >
          <div slot="rate" slot-scope="props">
            {{ currency + Number(props.row.rate).toLocaleString() }}
          </div>
          <div slot="amount" slot-scope="props" class="alert alert-success">
            {{ currency + Number(props.row.amount).toLocaleString() }}
          </div>
          <div slot="confirmer.name" slot-scope="props">
            <span v-if="props.row.confirmed_by !== null">
              {{ props.row.confirmer.name }}
            </span>
            <span v-else>
              <div v-if="checkPermission(['confirm stocked feeds'])">
                <a
                  class="btn btn-success"
                  @click="confirmFeedStock(props.row.id, props.row, props.index)"
                ><i class="fa fa-check" />
                </a>
              </div>
              <div v-else class="alert alert-danger">
                Not Confirmed
              </div>

            </span>
          </div>

          <div slot="action" slot-scope="props">
            <span v-if="props.row.confirmed_by === null">
              <a
                v-if="checkPermission(['stock feeds'])"
                class="btn btn-warning"
                @click="
                  selected_index = props.index;
                  selected_stock = props.row;
                  editFormVisible = true;
                "
              ><i class="fa fa-edit" />
              </a>
              <a
                v-if="checkPermission(['stock feeds'])"
                class="btn btn-danger"
                @click="deleteStockFeed(props.row.id, props.row, props.index)"
              ><i class="fa fa-trash" />
              </a>
            </span>
            <!-- <span v-else>
              <a
                class="btn btn-default"
                @click="selected_stock = props.row;
                        page.option = 'view_details';"
              ><i class="el-icon-view" />
              </a>

            </span> -->
          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add Feeds to Stock'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-feed-stock :live-stocks="live_stocks" @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Stocked Feeds'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-feed-stock
        v-if="editFormVisible"
        :live-stocks="live_stocks"
        :selected-stock="selected_stock"
        @update="updateTable"
      />
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddFeedStock from './partials/Feeds/AddStock';
import EditFeedStock from './partials/Feeds/EditStock';
const liveStockResource = new Resource('livestock');
const feedsInStockResource = new Resource('inventory/feed-stock');
const confirmFeedStockResource = new Resource('inventory/feed-stock/confirm-stock');
const deleteLiveStockFeedsResource = new Resource('inventory/feed-stock/destroy');
export default {
  components: {
    AddFeedStock,
    EditFeedStock,
  },
  data() {
    return {
      live_stocks: [],
      feeds_in_stock: [],
      total_stocked: 0,
      total_consumed: 0,
      total_remaining: 0,
      columns: [
        'action',
        'feed.name',
        'live_stock.name',
        'batch_no',
        'quantity_stocked',
        'consumed',
        'balance',
        'rate',
        'amount',
        'net_weight',
        'package_type',
        'unit_of_measurement',
        'stock_officer.name',
        'confirmer.name',
      ],

      options: {
        headings: {
          'feed.name': 'Feed',
          'live_stock.name': 'Livestock',
          'unit_of_measurement': 'Measurement',
          'stock_officer.name': 'Stocked By',
          'confirmer.name': 'Confirmed By',
          amount: 'Total Amount',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['live_stock.name', 'feed.name', 'batch_no'],
        filterable: ['live_stock.name', 'feed.name', 'batch_no'],
      },
      page: {
        option: 'list',
      },
      form: {
        livestock_id: '',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_stock: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchAllLivestock();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchAllLivestock() {
      const app = this;
      liveStockResource
        .list()
        .then(response => {
          app.live_stocks = response.live_stocks;
          app.form.livestock_id = app.live_stocks[0].id;
          app.fetchFeedsInStock();
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    fetchFeedsInStock() {
      const app = this;
      const loader = feedsInStockResource.loaderShow();
      feedsInStockResource
        .list(app.form)
        .then(response => {
          app.feeds_in_stock = response.feeds_in_stock;
          app.updateTotalBalance();
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(new_row) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      app.feeds_in_stock.unshift(new_row);
      app.updateTotalBalance();
      // app.feeds_in_stock = feeds_in_stock;

      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.feeds_in_stock.splice(app.selected_index - 1, 1, updated_row);
      app.updateTotalBalance();
      app.closeModal();
    },
    confirmFeedStock(id, row, index){
      const app = this;
      const message = 'Are you sure you want to confirm feed stock with batch no: ' + row.batch_no + '? Click OK to Confirm.';
      if (confirm(message)) {
        const loader = confirmFeedStockResource.loaderShow();
        confirmFeedStockResource
          .update(id, row)
          .then(response => {
            app.feeds_in_stock.splice(index - 1, 1, response.feed_stock_batch);
            app.updateTotalBalance();
            // const i = app.live_stock_batches.indexOf(batch);
            // app.live_stock_batches[i] = response.live_stock_batch;
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    deleteStockFeed(id, row, index) {
      const app = this;
      const message =
        'Are you sure you want to delete ' +
        row.feed.name +
        ' with batch no: ' + row.batch_no + '? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteLiveStockFeedsResource.loaderShow();
        deleteLiveStockFeedsResource
          .destroy(id)
          .then(response => {
            app.feeds_in_stock.splice(index - 1, 1);
            app.updateTotalBalance();
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    updateTotalBalance(){
      const app = this;
      var total_stocked = 0;
      var total_consumed = 0;
      var total_remaining = 0;
      app.feeds_in_stock.forEach((feed_in_stock) => {
        total_stocked += parseInt(feed_in_stock.quantity_stocked * feed_in_stock.rate);
        total_consumed += parseInt(feed_in_stock.consumed * feed_in_stock.rate);
        total_remaining += parseInt(feed_in_stock.balance * feed_in_stock.rate);
      });
      app.total_stocked = total_stocked;
      app.total_consumed = total_consumed;
      app.total_remaining = total_remaining;
    },
  },
};
</script>
