<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Feeds</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['manage feeds'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> Add New</a>
        </span>
      </div>
      <div class="box-body">
        <v-client-table
          v-model="livestock_feeds"
          :columns="columns"
          :options="options"
        >

          <div slot="action" slot-scope="props">
            <!-- <a
              class="btn btn-default"
              @click="
                selected_feed = props.row;
                page.option = 'view_details';
              "
            ><i class="fa fa-eye" />
            </a> -->
            <a
              v-if="checkPermission(['manage feeds'])"
              class="btn btn-warning"
              @click="
                selected_index = props.index;
                selected_feed = props.row;
                editFormVisible = true;
              "
            ><i class="fa fa-edit" />
            </a>
            <a
              v-if="checkPermission(['manage feeds'])"
              class="btn btn-danger"
              @click="deleteStockFeed(props.row.id, props.row.name, props.index)"
            ><i class="fa fa-trash" />
            </a>
          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add New Livestock Feed'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-feed :live-stocks="live_stocks" @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Feed'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-feed :live-stocks="live_stocks" :selected-feed="selected_feed" @update="updateTable" />
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddFeed from './partials/Feeds/Add';
import EditFeed from './partials/Feeds/Edit';
const liveStockResource = new Resource('livestock');
const liveStockFeedsResource = new Resource('inventory/feeds');

const deleteLiveStockFeedsResource = new Resource('inventory/feeds/destroy');
export default {
  components: {
    AddFeed,
    EditFeed,
  },
  data() {
    return {
      live_stocks: [],
      livestock_feeds: [],
      columns: [
        'action',
        'name',
        'live_stock.name',
        'live_stock.category.name',
      ],

      options: {
        headings: {
          'name': 'Feed Name',
          'live_stock.name': 'Livestock',
          'live_stock.category.name': 'Category',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: [
          'live_stock.name',
          'name',
        ],
        filterable: [
          'live_stock.name',
          'name',
        ],
      },
      page: {
        option: 'list',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_feed: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchAllLivestock();
    this.fetchFeeds();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchAllLivestock() {
      const app = this;
      liveStockResource
        .list()
        .then(response => {
          app.live_stocks = response.live_stocks;
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    fetchFeeds() {
      const app = this;
      const loader = liveStockFeedsResource.loaderShow();
      liveStockFeedsResource
        .list()
        .then(response => {
          app.livestock_feeds = response.livestock_feeds;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(livestock_feeds) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      // app.livestock_feeds.unshift(new_row);
      app.livestock_feeds = livestock_feeds;
      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.livestock_feeds.splice(app.selected_index - 1, 1, updated_row);
      app.closeModal();
    },
    deleteStockFeed(id, name, index) {
      const app = this;
      const message = 'Are you sure you want to delete Feeds: ' + name + '? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteLiveStockFeedsResource.loaderShow();
        deleteLiveStockFeedsResource
          .destroy(id)
          .then(response => {
            app.livestock_feeds.splice(index - 1, 1);
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
  },
};
</script>
