<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Organic Fertilizer</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['stock fertilizer'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> Add New Stock</a>
        </span>
      </div>
      <div class="box-body">
        <v-client-table
          v-model="fetilizers"
          :columns="columns"
          :options="options"
        />
      </div>
    </div>
    <el-dialog
      :title="'Stock New Fertilizer '"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-fertilizer @save="addToTable" />
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddFertilizer from './partials/Fertilizer/Add';
const fertilizerSalesResource = new Resource('inventory/fertilizer');
export default {
  components: {
    AddFertilizer,
  },
  data() {
    return {
      fetilizers: [],
      page: {
        option: 'list',
      },
      columns: [
        'type',
        'quantity_in_stock',
        'sold',
        'balance',
        'last_quantity_stocked',
        'last_stocker.name',
      ],

      options: {
        headings: {
          quantity_in_stock: 'Quantity Stocked',
          last_quantity_stocked: 'Last Quantity Stocked',
          'last_stocker.name': 'Last Stocked by',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: true,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['type', 'quantity_in_stock', 'sold', 'balance', 'last_quantity_stocked'],
        filterable: ['type', 'quantity_in_stock', 'sold', 'balance', 'last_quantity_stocked'],
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_sale: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchFertilizerSold();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchFertilizerSold() {
      const app = this;
      const loader = fertilizerSalesResource.loaderShow();
      fertilizerSalesResource
        .list()
        .then(response => {
          app.fetilizers = response.fetilizers;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(fetilizers) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      app.fetilizers = fetilizers;
      // app.fertilizer = fertilizer;

      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.fertilizer.splice(app.selected_index - 1, 1, updated_row);
      app.closeModal();
    },
  },
};
</script>
