<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Medicines</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission(['stock medicines'])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['manage medicines'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> Add New</a>
        </span>
      </div>
      <div class="box-body">
        <v-client-table
          v-model="livestock_medicines"
          :columns="columns"
          :options="options"
        >
          <div slot="action" slot-scope="props">
            <!-- <a
              class="btn btn-default"
              @click="
                selected_medicine = props.row;
                page.option = 'view_details';
              "
            ><i class="fa fa-eye" />
            </a> -->
            <a
              v-if="checkPermission(['manage medicines'])"
              class="btn btn-warning"
              @click="
                selected_index = props.index;
                selected_medicine = props.row;
                editFormVisible = true;
              "
            ><i class="fa fa-edit" />
            </a>
            <a
              v-if="checkPermission(['manage medicines'])"
              class="btn btn-danger"
              @click="
                deleteStockMedicine(props.row.id, props.row.name, props.index)
              "
            ><i class="fa fa-trash" />
            </a>
          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add New Livestock Medicine'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-medicine :live-stocks="live_stocks" @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Medicine'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-medicine :live-stocks="live_stocks" :selected-medicine="selected_medicine" @update="updateTable" />
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddMedicine from './partials/Medicines/Add';
import EditMedicine from './partials/Medicines/Edit';
const liveStockResource = new Resource('livestock');
const liveStockMedicinesResource = new Resource('inventory/medicines');

const deleteLiveStockMedicinesResource = new Resource('inventory/medicines/destroy');
export default {
  components: {
    AddMedicine,
    EditMedicine,
  },
  data() {
    return {
      live_stocks: [],
      livestock_medicines: [],
      columns: [
        'action',
        'name',
        'live_stock.name',
        'live_stock.category.name',
      ],

      options: {
        headings: {
          'name': 'Medicine Name',
          'live_stock.name': 'Livestock',
          'live_stock.category.name': 'Category',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['live_stock.name', 'name'],
        filterable: ['live_stock.name', 'name'],
      },
      page: {
        option: 'list',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_medicine: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchAllLivestock();
    this.fetchMedicines();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchAllLivestock() {
      const app = this;
      liveStockResource
        .list()
        .then(response => {
          app.live_stocks = response.live_stocks;
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    fetchMedicines() {
      const app = this;
      const loader = liveStockMedicinesResource.loaderShow();
      liveStockMedicinesResource
        .list()
        .then(response => {
          app.livestock_medicines = response.livestock_medicines;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(livestock_medicines) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      // app.livestock_medicines.unshift(new_row);
      app.livestock_medicines = livestock_medicines;

      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.livestock_medicines.splice(app.selected_index - 1, 1, updated_row);
      app.closeModal();
    },
    deleteStockMedicine(id, name, index) {
      const app = this;
      const message =
        'Are you sure you want to delete Medicines: ' +
        name +
        '? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteLiveStockMedicinesResource.loaderShow();
        deleteLiveStockMedicinesResource
          .destroy(id)
          .then(response => {
            app.livestock_medicines.splice(index - 1, 1);
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
  },
};
</script>
