<template>
  <div v-loading="savingFeed" class="form-container">
    <el-form ref="new_feed" :model="new_feed" label-position="left" label-width="140px" style="max-width: 500px;">
      <el-form-item label="Livestock" prop="live_stock">
        <el-select v-model="new_feed.livestock_id" placeholder="Select Livestock" filterable class="span">
          <el-option v-for="(live_stock, index) in liveStocks" :key="index" :value="live_stock.id" :label="live_stock.name.toUpperCase() + ' ('+live_stock.category.name+')' " />

        </el-select>
      </el-form-item>
      <el-form-item label="Feed Names" prop="name">
        <el-input v-model="new_feed.names" type="textarea" />
        <small>separate multiple by comma</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addFeed()">
        Submit
      </el-button>
    </div>
  </div>

</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addFeedResource = new Resource('inventory/feeds/store');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => ([]),
    },
  },
  data() {
    return {
      live_stocks: [],
      new_feed: {
        livestock_id: '',
        names: '',
      },
      savingFeed: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addFeed() {
      const app = this;
      const params = app.new_feed;
      app.savingFeed = true;
      addFeedResource
        .store(params)
        .then(response => {
          app.savingFeed = false;
          app.emptyForm();
          app.$emit('save', response.livestock_feeds);
        })
        .catch(error => {
          console.log(error.message);
          app.savingFeed = false;
        });
    },
    emptyForm(){
      this.new_feed = {
        livestock_id: '',
        name: '',
      };
    },
  },
};
</script>
