<template>
  <div v-loading="savingFeedStock" class="form-container">
    <el-form
      ref="new_feed_stock"
      :model="new_feed_stock"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Livestock" prop="live_stock">
        <el-select
          v-model="new_feed_stock.livestock_id"
          placeholder="Select Livestock"
          filterable
          class="span"
          @input="fetchLivestockFeeds()"
        >
          <el-option
            v-for="(live_stock, index) in liveStocks"
            :key="index"
            :value="live_stock.id"
            :label="
              live_stock.name.toUpperCase() +
                ' (' +
                live_stock.category.name +
                ')'
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Feed" prop="feed_id">
        <el-select
          v-model="new_feed_stock.feed_id"
          placeholder="Select Feed"
          filterable
          class="span"
        >
          <el-option
            v-for="(feed, index) in feeds"
            :key="index"
            :value="feed.id"
            :label="feed.name"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Package Type" prop="package_type">
        <el-select
          v-model="new_feed_stock.package_type"
          placeholder="Select Package Type"
          filterable
          class="span"
        >
          <el-option
            v-for="(package_type, index) in package_types"
            :key="index"
            :value="package_type"
            :label="package_type"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="new_feed_stock.quantity_stocked" type="number" min="0">
          <template slot="append">{{ new_feed_stock.package_type }}</template>
        </el-input>
        <small>Enter the quantity to stock in {{ new_feed_stock.package_type }}</small>
      </el-form-item>
      <el-form-item label="Measured In" prop="unit_of_measurement">
        <el-select
          v-model="new_feed_stock.unit_of_measurement"
          placeholder="Select Measurement Unit"
          filterable
          class="span"
        >
          <el-option
            v-for="(unit, index) in units_of_measurement"
            :key="index"
            :value="unit"
            :label="unit"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Net Weight" prop="net_weight">
        <el-input v-model="new_feed_stock.net_weight" type="number" min="0">
          <template slot="append">{{ new_feed_stock.unit_of_measurement }}</template>
        </el-input>
        <small>Enter the net weight of each in {{ new_feed_stock.unit_of_measurement }}</small>
      </el-form-item>
      <el-form-item label="Rate" prop="rate">
        <el-input v-model="new_feed_stock.rate" type="number" min="0">
          <template slot="prepend">{{ currency }}</template>
        </el-input>
        <small>Enter the amount of each</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addFeedStock()">
        Submit
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addFeedStockResource = new Resource('inventory/feed-stock/store');
const fetchLivestockFeedsResource = new Resource('inventory/feed-stock/fetch-feeds');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      live_stocks: [],
      feeds: [],
      new_feed_stock: {
        livestock_id: '',
        feed_id: '',
        batch_no: '',
        quantity_stocked: '',
        rate: '',
        net_weight: '',
        package_type: '',
        unit_of_measurement: '',
      },
      savingFeedStock: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      package_types: ['Bags', 'Bottles', 'Cartons', 'Gallons', 'Sachet'],
      units_of_measurement: ['Kg', 'Ltr'],
      currency: '₦',

    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addFeedStock() {
      const app = this;
      const params = app.new_feed_stock;
      app.savingFeedStock = true;
      addFeedStockResource
        .store(params)
        .then(response => {
          app.savingFeedStock = false;
          app.emptyForm();
          app.$emit('save', response.feed_stock_batch);
        })
        .catch(error => {
          console.log(error.message);
          app.savingFeedStock = false;
        });
    },
    fetchLivestockFeeds() {
      const app = this;
      const livestock_id = app.new_feed_stock.livestock_id;
      app.new_feed_stock.feed_id = '';
      fetchLivestockFeedsResource.get(livestock_id).then(response => {
        app.feeds = response.feeds;
      });
    },
    emptyForm() {
      this.new_feed_stock = {
        livestock_id: '',
        name: '',
      };
    },
  },
};
</script>
