<template>
  <div class="app-container">
    <div>
      <div class="box">
        <div class="box-header">
          <h4 class="box-title">Add Planting Cost for {{ crop.name }}</h4>
          <!-- <span class="pull-right">
            <a
              v-if="checkPermission(['create invoice']) && upload_type ==='normal'"
              class="btn btn-success"
              @click="upload_type ='bulk'"
            >Bulk Upload</a>
            <a
              v-if="checkPermission(['create invoice']) && upload_type ==='bulk'"
              class="btn btn-primary"
              @click="upload_type ='normal'"
            >Normal Upload</a>
            <router-link
              v-if="checkPermission(['view invoice'])"
              :to="{name:'Invoices'}"
              class="btn btn-danger"
            >Cancel</router-link>

          </span> -->
        </div>
        <div class="box-body">
          <el-form ref="form" :model="form" label-width="120px">
            <!-- <el-row :gutter="5" class="padded">
              <el-col :xs="24" :sm="12" :md="12">
                <label for>Invoice Number</label>
                <el-input
                  v-model="form.invoice_number"
                  placeholder="Will be auto generated when submitted"
                  class="span"
                  disabled
                />
              </el-col>
              <el-col :xs="24" :sm="12" :md="12">
                <label for>
                  Select Customer (
                  <a
                    style="color: brown"
                    @click="dialogFormVisible = true"
                  >Click to Add New Customer</a>)
                </label>
                <el-select
                  v-model="form.customer_id"
                  placeholder="Select Customer"
                  filterable
                  class="span"
                >
                  <el-option
                    v-for="(customer, customer_index) in customers"
                    :key="customer_index"
                    :value="customer.id"
                    :label="(customer.user) ? customer.user.name : ''"
                  />
                </el-select>
                <label for>Invoice Date</label>
                <el-date-picker
                  v-model="form.invoice_date"
                  type="date"
                  placeholder="Invoice Date"
                  style="width: 100%;"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                  :picker-options="pickerOptions"
                />
              </el-col>
            </el-row> -->
            <div>
              <el-row :gutter="2" class="padded">
                <el-col>
                  <div style="overflow: auto">
                    <label for>Details</label>
                    <table class="table table-binvoiceed">
                      <thead>
                        <tr>
                          <th />
                          <th>Quantity</th>
                          <th>Rate</th>
                          <th>Description</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(invoice_item, index) in invoice_items" :key="index">
                          <td>
                            <span>
                              <a
                                class="btn btn-danger btn-flat fa fa-trash"
                                @click="removeLine(index)"
                              />
                              <a
                                v-if="index + 1 === invoice_items.length"
                                class="btn btn-info btn-flat fa fa-plus"
                                @click="addLine(index)"
                              />
                            </span>
                          </td>
                          <td>
                            <el-input
                              v-model="invoice_item.quantity"
                              type="number"
                              outline
                              placeholder="Quantity"
                              min="1"
                              @input="calculateTotal(index);"
                            />
                          </td>
                          <td>
                            <el-input
                              v-model="invoice_item.rate"
                              type="number"
                              outline
                              @input="calculateTotal(index)"
                            />
                          </td>
                          <td align="right">
                            <el-input
                              v-model="invoice_item.description"
                              type="textarea"
                              outline
                            />
                          </td>
                          <td align="right">
                            {{ Number(invoice_item.amount).toLocaleString() }}
                          </td>
                        </tr>
                        <tr v-if="fill_fields_error">
                          <td colspan="5">
                            <label
                              class="label label-danger"
                            >Please fill all empty fields before adding another row</label>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td colspan="5" align="right">
                            <label>Subtotal</label>
                          </td>
                          <td align="right">{{ Number(form.subtotal).toLocaleString() }}</td>
                        </tr> -->
                        <!-- <tr>
                          <td colspan="5" align="right">
                            <el-dropdown
                              class="avatar-container right-menu-item hover-effect"
                              trigger="click"
                            >
                              <div class="avatar-wrapper" style="color: brown">
                                <label style="cursor:pointer">Add Discount</label>
                              </div>
                              <el-dropdown-menu slot="dropdown" style="padding: 10px;">
                                <el-input
                                  v-model="discount_rate"
                                  type="number"
                                  min="0"
                                  style="width: 50%;"
                                  @input="calculateTotal(null)"
                                />% of Subtotal
                                <el-dropdown-item divided>Enter Discount percentage</el-dropdown-item>
                              </el-dropdown-menu>
                            </el-dropdown>
                          </td>
                          <td align="right">{{ Number(form.discount).toLocaleString() }}</td>
                        </tr> -->
                        <tr>
                          <td colspan="4" align="right">
                            <label>Grand Total</label>
                          </td>
                          <td align="right">
                            <label style="color: green">{{ Number(form.amount).toLocaleString() }}</label>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td align="right">Notes</td>
                          <td colspan="5">
                            <textarea
                              v-model="form.notes"
                              class="form-control"
                              rows="5"
                              placeholder="Type extra note on this invoice here..."
                            />
                          </td>
                        </tr> -->
                      </tbody>
                    </table>
                  </div>
                </el-col>
              </el-row>
              <el-row :gutter="2" class="padded">
                <el-col :xs="24" :sm="6" :md="6">
                  <el-button type="success" @click="addNewInvoice">
                    <i class="el-icon-save" />
                    Submit
                  </el-button>
                </el-col>
              </el-row>
            </div>
          </el-form>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
export default {
  name: 'AddNewInvoice',
  components: { },
  props: {
    crop: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      customer_types: [],
      dialogFormVisible: false,
      userCreating: false,
      fill_fields_error: false,
      form: {
        status: 'pending',
        subtotal: 0,
        amount: 0,
        details: [],
      },
      empty_form: {
        status: 'pending',
        subtotal: 0,
        amount: 0,
        details: [],
      },
      invoice_items: [],
    };
  },
  watch: {
    invoice_items() {
      this.blockRemoval = this.invoice_items.length <= 1;
    },
  },
  mounted() {
    this.addLine();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    addLine(index) {
      this.fill_fields_error = false;

      const checkEmptyLines = this.invoice_items.filter(
        (detail) =>
          detail.quantity === '' ||
          detail.rate === null ||
          detail.description === '' ||
          detail.total === 0
      );

      if (checkEmptyLines.length >= 1 && this.invoice_items.length > 0) {
        this.fill_fields_error = true;
        // this.invoice_items[index].seleted_category = true;
        return;
      } else {
        // if (this.invoice_items.length > 0)
        //     this.invoice_items[index].grade = '';

        this.invoice_items.push({
          quantity: 1,
          rate: null,
          amount: 0,
          description: '',
        });
      }
    },
    removeLine(detailId) {
      this.fill_fields_error = false;
      if (!this.blockRemoval) {
        this.invoice_items.splice(detailId, 1);
        this.calculateTotal(null);
      }
    },
    addNewInvoice() {
      const saveCostResource = new Resource('crops/cost/store');
      const app = this;
      var form = app.form;
      const load = saveCostResource.loaderShow();
      form.details = app.invoice_items;
      form.crop_id = app.crop.id;
      saveCostResource
        .store(form)
        .then((response) => {
          app.$message({
            message: 'Action Successful!!!',
            type: 'success',
          });
          app.form = app.empty_form;
          app.invoice_items = app.form.details;
          app.$emit('save', response.planting_cost);
          load.hide();
        })
        .catch((error) => {
          load.hide();
          console.log(error.message);
        });
    },
    calculateTotal(index) {
      const app = this;
      // Get total amount for this item without tax
      if (index !== null) {
        const quantity = app.invoice_items[index].quantity;
        const unit_rate = app.invoice_items[index].rate;
        app.invoice_items[index].amount = parseFloat(
          quantity * unit_rate
        ).toFixed(2); // + parseFloat(tax);
      }

      // we now calculate the running total of items invoiceed for with tax //////////
      // let total_tax = 0;
      let subtotal = 0;
      for (let count = 0; count < app.invoice_items.length; count++) {
        // const tax_rate = app.invoice_items[count].tax;
        // const quantity = app.invoice_items[count].quantity;
        // const unit_rate = app.invoice_items[count].rate;
        // total_tax += parseFloat(tax_rate * quantity * unit_rate);
        subtotal += parseFloat(app.invoice_items[count].amount);
      }
      // app.form.tax = total_tax.toFixed(2);
      app.form.subtotal = subtotal.toFixed(2);
      // subtract discount
      app.form.amount = parseFloat(subtotal).toFixed(2);
    },
  },
};
</script>

