<template>
  <div v-loading="savingHarvestedCrop" class="form-container">
    <el-form ref="new_batch" :model="new_batch" label-position="left" label-width="150px" style="max-width: 100%">

      <el-form-item label="Planted batch" prop="unit">
        <el-select
          v-model="new_batch.cultivated_crop_id"
          placeholder="Select Planted Batch"
          filterable
          class="span"
        >
          <el-option
            v-for="(planted, index) in crop.cultivated"
            :key="index"
            :value="planted.id"
            :label="planted.batch_no"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Unit" prop="unit">
        <el-input v-model="new_batch.unit_of_measurement" placeholder="Ex: Tubers, Baskets, etc" />
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="new_batch.quantity" type="number">
          <template slot="append">{{ new_batch.unit_of_measurement }}</template>
        </el-input>
      </el-form-item>
      <el-form-item label="Harvest Date" prop="date">
        <el-date-picker v-model="new_batch.date" type="date" outline format="yyyy-MM-dd" value-format="yyyy-MM-dd" :picker-options="pickerOptions" style="width: 100%;" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addHarvestedCrop()">
        Submit
      </el-button>
    </div>
  </div>

</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');

export default {
  props: {
    crop: {
      type: Object,
      default: () => ({
        id: '',
      }),
    },
  },
  data() {
    return {
      live_stocks: [],
      new_batch: {
        crop_id: '',
        cultivated_crop_id: '',
        unit_of_measurement: '',
        quantity: '',
        date: '',
      },
      savingHarvestedCrop: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      currency: '₦',

    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addHarvestedCrop() {
      const addHarvestedCropResource = new Resource('crops/harvested/store');
      const app = this;
      var params = app.new_batch;
      params.crop_id = app.crop.id;
      if (params.cultivated_crop_id !== '') {
        app.savingHarvestedCrop = true;
        addHarvestedCropResource
          .store(params)
          .then(response => {
            app.savingHarvestedCrop = false;
            app.emptyForm();
            app.$emit('save', response.harvested_crop);
          })
          .catch(error => {
            console.log(error.message);
            app.savingHarvestedCrop = false;
          });
      } else {
        alert('You need to select a planted batch!!!');
      }
    },
    emptyForm(){
      this.new_batch = {
        crop_id: '',
        unit_of_measurement: '',
        quantity_of_seedlings: '',
        date: '',
      };
    },
  },
};
</script>
