<template>
  <div v-loading="savingPlantedCrop" class="form-container">
    <el-form ref="new_batch" :model="new_batch" label-position="left" label-width="100px" style="max-width: 100%">
      <el-form-item label="Unit" prop="unit">
        <el-input v-model="new_batch.unit_of_measurement" />
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="new_batch.quantity_of_seedlings" type="number">
          <template slot="append">{{ new_batch.unit_of_measurement }}</template>
        </el-input>
      </el-form-item>
      <el-form-item label="Plant Date" prop="date">
        <el-date-picker v-model="new_batch.date" type="date" outline format="yyyy-MM-dd" value-format="yyyy-MM-dd" :picker-options="pickerOptions" style="width: 100%;" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addPlantedCrop()">
        Submit
      </el-button>
    </div>
  </div>

</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');

export default {
  props: {
    crop: {
      type: Object,
      default: () => ({
        id: '',
      }),
    },
  },
  data() {
    return {
      live_stocks: [],
      new_batch: {
        crop_id: '',
        unit_of_measurement: 'stands',
        quantity_of_seedlings: '',
        date: '',
      },
      savingPlantedCrop: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      currency: '₦',

    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addPlantedCrop() {
      const addPlantedCropResource = new Resource('crops/cultivated/store');
      const app = this;
      var params = app.new_batch;
      params.crop_id = app.crop.id;
      app.savingPlantedCrop = true;
      addPlantedCropResource
        .store(params)
        .then(response => {
          app.savingPlantedCrop = false;
          app.emptyForm();
          app.$emit('save', response.cultivated_crop);
        })
        .catch(error => {
          console.log(error.message);
          app.savingPlantedCrop = false;
        });
    },
    emptyForm(){
      this.new_batch = {
        crop_id: '',
        unit_of_measurement: 'stands',
        quantity_of_seedlings: '',
        date: '',
      };
    },
  },
};
</script>
