<template>
  <div v-loading="savingSoldCrop" class="form-container">
    <label class="alert alert-success">Available Quantity: {{ avalable_quantity }}</label>
    <el-form ref="form" :model="form" label-position="left" label-width="150px" style="max-width: 100%">
      <el-form-item label="Quantity to sell" prop="quantity">
        <el-input v-model="form.quantity" type="number" :max="avalable_quantity" min="1" @input="calculateAmount()" />
      </el-form-item>
      <el-form-item label="Rate" prop="rate">
        <el-input v-model="form.rate" type="number" @input="calculateAmount()">
          <template slot="prepend">{{ currency }}</template>
        </el-input>
      </el-form-item>
      <el-form-item label="Amount" prop="amount">
        <label>{{ currency + ' ' + form.amount }}</label>
      </el-form-item>
      <el-form-item label="Description" prop="description">
        <el-input v-model="form.description" type="textarea" placeholder="Example: Sales of 50 tubers of yam to Mr. Michael Orji" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addSoldCrop()">
        Submit
      </el-button>
    </div>
  </div>

</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');

export default {
  props: {
    crop: {
      type: Object,
      default: () => ({
        id: '',
      }),
    },
  },
  data() {
    return {
      form: {
        crop_id: '',
        rate: '',
        amount: 0,
        quantity: 0,
        date: '',
      },
      savingSoldCrop: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      currency: '₦',
      avalable_quantity: 0,

    };
  },
  mounted() {
    this.calculateQuantity();
  },
  methods: {
    calculateQuantity(){
      const harvested_crops = this.crop.harvested;
      var quantity = 0;
      harvested_crops.forEach(each_harvest => {
        quantity += each_harvest.quantity - each_harvest.sold;
      });
      this.avalable_quantity = quantity;
      this.form.quantity = quantity;
    },
    calculateAmount(){
      const amount = this.form.quantity * this.form.rate;
      this.form.amount = amount;
    },
    // checkQuantity(){
    //   if (this.avalable_quantity < this.form.quantity) {
    //     this.$alert('Sales quantity must not be greater than ' + this.avalable_quantity);
    //     return true;
    //   }
    //   return false;
    // },
    addSoldCrop() {
      const addSoldCropResource = new Resource('crops/sales');
      const app = this;
      var params = app.form;
      if (app.avalable_quantity < params.quantity) {
        this.$alert('Sales quantity must not be greater than ' + app.avalable_quantity);
        return false;
      }
      if (params.rate === '' || params.amount === 0 || params.quantity === 0 || params.description === '') {
        this.$alert('Please fill all fileds in the form');
        return false;
      }
      params.crop_id = app.crop.id;
      app.savingSoldCrop = true;
      addSoldCropResource
        .store(params)
        .then(response => {
          app.savingSoldCrop = false;
          app.emptyForm();
          app.$emit('sold', response.sold_crop);
        })
        .catch(error => {
          console.log(error.message);
          app.savingSoldCrop = false;
        });
    },
    emptyForm(){
      this.form = {
        crop_id: '',
        unit_of_measurement: '',
        quantity_of_seedlings: '',
        date: '',
      };
    },
  },
};
</script>
