<template>
  <div v-loading="savingEggStock" class="form-container">
    <el-form
      ref="new_egg_stock"
      :model="new_egg_stock"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Livestock" prop="live_stock">
        <el-select
          v-model="new_egg_stock.livestock_id"
          placeholder="Select Livestock"
          filterable
          class="span"
          @input="fetchLivestockBatch()"
        >
          <el-option
            v-for="(live_stock, index) in liveStocks"
            :key="index"
            :value="live_stock.id"
            :label="
              live_stock.name.toUpperCase() +
                ' (' +
                live_stock.category.name +
                ')'
            "
            :disabled="(live_stock.can_lay_eggs == 'yes') ? false : true"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Livestock Batch" prop="livestock_batch_id">
        <el-select
          v-model="new_egg_stock.livestock_batch_id"
          placeholder="Select Livestock Batch"
          filterable
          class="span"
        >
          <el-option
            v-for="(livestock_batch, index) in livestock_batches"
            :key="index"
            :value="livestock_batch.id"
            :label="livestock_batch.batch_no"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="new_egg_stock.quantity" type="number" min="0">
          <template slot="append">pieces</template>
        </el-input>
        <small>Enter the quantity of eggs in pieces</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addEggStock()">
        Submit
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addEggStockResource = new Resource('inventory/egg-stock/store');
const fetchLivestockBatchesResource = new Resource('inventory/egg-stock/fetch-batches');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      live_stocks: [],
      livestock_batches: [],
      new_egg_stock: {
        livestock_id: '',
        livestock_batch_id: '',
        quantity: '',
      },
      savingEggStock: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      package_types: ['Bags', 'Bottles', 'Cartons', 'Gallons'],
      units_of_measurement: ['Kg', 'Ltr'],
      currency: '₦',

    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addEggStock() {
      const app = this;
      const params = app.new_egg_stock;
      app.savingEggStock = true;
      addEggStockResource
        .store(params)
        .then(response => {
          app.savingEggStock = false;
          app.emptyForm();
          app.$emit('save', response.egg_stock);
        })
        .catch(error => {
          console.log(error.message);
          app.savingEggStock = false;
        });
    },
    fetchLivestockBatch() {
      const app = this;
      const livestock_id = app.new_egg_stock.livestock_id;
      app.new_egg_stock.egg_id = '';
      fetchLivestockBatchesResource.get(livestock_id).then(response => {
        app.livestock_batches = response.livestock_batches;
      });
    },
    emptyForm() {
      this.new_egg_stock = {
        livestock_id: '',
        name: '',
      };
    },
  },
};
</script>
