<template>
  <div class="dashboard-editor-container">
    <panel-group v-if="data_summary" :data-summary="data_summary" />
    <aside>
      <el-row :gutter="5">
        <el-col :xs="24" :sm="12" :md="12">
          <el-popover placement="right" trigger="click">
            <date-range-picker
              :from="$route.query.from"
              :to="$route.query.to"
              :panel="panel"
              :panels="panels"
              :submit-title="submitTitle"
              :future="future"
              @update="setDateRange"
            />
            <el-button id="pick_date" slot="reference" type="success">
              <i class="el-icon-date" /> Pick Date Range
            </el-button>
          </el-popover>
        </el-col>
      </el-row>
    </aside>
    <el-row :gutter="5">
      <el-card>
        <el-carousel :interval="10000" indicator-position="outside" :height="'450px'">
          <el-carousel-item>
            <highcharts :options="income_expenses_chart" />
          </el-carousel-item>
          <el-carousel-item>
            <livestock-in-stock :params="params" />
          </el-carousel-item>
          <el-carousel-item>
            <feeds-in-stock :params="params" />
          </el-carousel-item>
          <el-carousel-item>
            <medicines-in-stock :params="params" />
          </el-carousel-item>
        </el-carousel>
        <!-- <el-tabs v-if="!useCarousel" v-model="activeActivity">
          <el-tab-pane label="Stock Report" name="first">
            <products-in-stock :params="params" />
          </el-tab-pane>
          <el-tab-pane label="Fleet Reports" name="second">
            <fleet-reports :params="params" />
          </el-tab-pane>
          <el-tab-pane label="Delivery Cost" name="third">
            <delivery-cost :params="params" />
          </el-tab-pane>
        </el-tabs> -->
      </el-card>
    </el-row>
    <el-row :gutter="5">
      <el-col :xs="24" :sm="12" :md="12">
        <div class="box">
          <div class="box-header">
            <h4 class="box-title">Incomes</h4>
          </div>
          <div class="box-body">
            <v-client-table v-model="incomes" :columns="columns" :options="options">
              <div slot="rate" slot-scope="props">
                {{ currency + Number(props.row.rate).toLocaleString() }}

              </div>
              <div slot="amount" slot-scope="props">
                {{ currency + Number(props.row.amount).toLocaleString() }}

              </div>
              <div slot="created_at" slot-scope="props">
                {{ moment(props.row.created_at).format('MMM D, YYYY') }}

              </div>
            </v-client-table>

          </div>

        </div>
      </el-col>
      <el-col :xs="24" :sm="12" :md="12">
        <div class="box">
          <div class="box-header">
            <h4 class="box-title">Expenditure</h4>
          </div>
          <div class="box-body">
            <v-client-table v-model="expenses" :columns="columns" :options="options">
              <div slot="rate" slot-scope="props">
                {{ currency + Number(props.row.rate).toLocaleString() }}

              </div>
              <div slot="amount" slot-scope="props">
                {{ currency + Number(props.row.amount).toLocaleString() }}

              </div>
              <div slot="created_at" slot-scope="props">
                {{ moment(props.row.created_at).format('MMM D, YYYY') }}

              </div>
            </v-client-table>

          </div>

        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import moment from 'moment';
import PanelGroup from './components/PanelGroup';
import LivestockInStock from '@modules/Reports/Resources/assets/js/views/graphical/components/LivestockInStock';
import FeedsInStock from '@modules/Reports/Resources/assets/js/views/graphical/components/FeedsInStock';
import MedicinesInStock from '@modules/Reports/Resources/assets/js/views/graphical/components/MedicinesInStock';
import Resource from '@/api/resource';
const incomeAndExpenses = new Resource('reports/income-and-expenses');

export default {
  name: 'AdminDashboard',
  components: {
    PanelGroup,
    LivestockInStock,
    FeedsInStock,
    MedicinesInStock,
  },
  data() {
    return {
      data_summary: '',
      incomes: [],
      expenses: [],
      line_chart_details: '',
      columns: ['farm_type', 'description', 'rate', 'amount', 'created_at'],

      options: {
        headings: {
          created_at: 'Date',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['description', 'amount', 'created_at'],
        filterable: ['farm_type', 'description', 'amount', 'created_at'],

      },
      page: {
        option: 'list',
      },
      week_start: '',
      week_end: '',
      params: {
        from: '',
        to: '',
        panel: '',
      },
      submitTitle: 'Fetch Report',
      panel: 'month',
      future: false,
      panels: ['week', 'month', 'quarter', 'year'],
      show_calendar: false,
      currency: '₦',

      income_expenses_chart: {
        chart: {
          type: 'areaspline',
          options3d: {
            enabled: false,
            alpha: 0,
            beta: 0,
            depth: 100,
            viewDistance: 25,
          },
          scrollablePlotArea: {
            minWidth: 900,
            scrollPositionX: 1,
          },
        },
        title: {
          text: '',
        },
        subtitle: {
          text: '',
        },
        xAxis: {
          categories: [],
          plotBands: [],
          labels: {
            skew3d: true,
            style: {
              fontSize: '14px',
            },
          },
        },
        yAxis: {
          min: 0,
          max: undefined,
          tickInterval: 5000,
          title: {
            text: 'Amount (₦)',
          },
          stackLabels: {
            enabled: true,
            style: {
              fontWeight: 'bold',
              color: 'gray',
            },
          },
        },
        // plotOptions: {
        //   column: {
        //     stacking: 'normal',
        //     dataLabels: {
        //       enabled: true,
        //     },
        //   },
        // },
        plotOptions: {
          spline: {
            dataLabels: {
              enabled: true,
            },
            enableMouseTracking: false,
          },
        },
        series: [

        ],

        // colors: ['#063', '#910000'],
        credits: {
          enabled: false,
        },
      },
    };
  },
  mounted() {
    this.fetchInconeAndExpenses();
  },
  methods: {
    moment,
    fetchInconeAndExpenses() {
      const app = this;
      const loader = incomeAndExpenses.loaderShow();
      incomeAndExpenses.list(app.params).then(response => {
        app.incomes = response.incomes;
        app.expenses = response.expenses;
        app.data_summary = response.data_summary;
        // app.line_chart_details = response.line_chart_details;

        app.income_expenses_chart.xAxis.categories = response.line_chart_details.categories;
        app.income_expenses_chart.xAxis.plotBands = response.line_chart_details.plot_band;
        app.income_expenses_chart.series = response.line_chart_details.series;
        app.income_expenses_chart.subtitle.text = response.line_chart_details.subtitle;
        app.income_expenses_chart.title.text = response.line_chart_details.title;

        loader.hide();
      }).catch(error => {
        loader.hide();
        console.log(error.message);
      });
    },
    showCalendar() {
      this.show_calendar = !this.show_calendar;
    },
    paramsat(date) {
      var month = date.toLocaleString('en-US', { month: 'short' });
      return month + ' ' + date.getDate() + ', ' + date.getFullYear();
    },
    setDateRange(values) {
      const app = this;
      document.getElementById('pick_date').click();
      let panel = app.panel;
      let from = app.week_start;
      let to = app.week_end;
      if (values !== '') {
        to = this.paramsat(new Date(values.to));
        from = this.paramsat(new Date(values.from));
        panel = values.panel;
      }
      app.params.from = from;
      app.params.to = to;
      app.params.panel = panel;
      app.fetchInconeAndExpenses();
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard-editor-container {
  padding: 10px;
  background-color: rgb(240, 242, 245);
  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 10px;
  }
}
</style>
