<template>
  <div v-loading="savingBrokenEgg" class="form-container">
    <el-form ref="new_broken_egg" :model="new_broken_egg" label-position="left" label-width="150px" style="max-width: 500px;">
      <el-form-item label="Broken-Egg Date" prop="death_date">
        <el-date-picker v-model="new_broken_egg.date" type="date" outline format="yyyy/MM/dd" value-format="yyyy-MM-dd" :picker-options="pickerOptions" style="width: 100%;" />
        <small>Set the date the eggs were broken</small>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="new_broken_egg.quantity" type="number" min="0">
          <template slot="append">pieces</template>
        </el-input>
        <small>Enter the number of eggs that are broken in pieces</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addBrokenEgg()">
        Submit
      </el-button>
    </div>
  </div>

</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addBrokenEggResource = new Resource('inventory/egg-stock/save-broken-eggs');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => ([]),
    },
  },
  data() {
    return {
      new_broken_egg: {
        date: '',
        quantity: 1,

      },
      savingBrokenEgg: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addBrokenEgg() {
      const app = this;
      const params = app.new_broken_egg;
      app.savingBrokenEgg = true;
      addBrokenEggResource
        .store(params)
        .then(response => {
          app.savingBrokenEgg = false;
          app.emptyForm();
          app.$emit('save', response.broken_egg);
        })
        .catch(error => {
          console.log(error.message);
          app.savingBrokenEgg = false;
        });
    },
    emptyForm(){
      this.new_broken_egg = {
        date: '',
        quantity: 1,
      };
    },
  },
};
</script>
