<template>
  <div v-loading="editingBrokenEgg" class="form-container">
    <el-form
      ref="selectedBrokenEgg"
      :model="selectedBrokenEgg"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Broken-Egg Date" prop="death_date">
        <el-date-picker v-model="selectedBrokenEgg.date" type="date" outline format="yyyy/MM/dd" value-format="yyyy-MM-dd" :picker-options="pickerOptions" style="width: 100%;" />
        <small>Set the date the eggs were broken</small>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="selectedBrokenEgg.quantity" type="number" min="0">
          <template slot="append">pieces</template>
        </el-input>
        <small>Enter the number of eggs that are broken in pieces</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="updateBrokenEgg()">
        Update
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

const editBrokenEggResource = new Resource('inventory/egg-stock/update-broken-eggs');
export default {
  props: {
    selectedBrokenEgg: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      live_stocks: [],
      batches: [],
      editingBrokenEgg: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
    };
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    updateBrokenEgg() {
      const app = this;
      const params = app.selectedBrokenEgg;
      app.editBrokenEggResource = true;
      editBrokenEggResource
        .update(params.id, params)
        .then(response => {
          app.editBrokenEggResource = false;
          app.$emit('update', response.broken_egg
          );
        })
        .catch(error => {
          console.log(error.message);
          app.editBrokenEggResource = false;
        });
    },
  },
};
</script>
