<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Sales of Eggs</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['manage sales'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> New Sales</a>
        </span>
      </div>
      <div class="box-body">
        <v-client-table
          v-model="egg_sales"
          :columns="columns"
          :options="options"
        >
          <div slot="confirmer.name" slot-scope="props">
            <span v-if="props.row.confirmed_by !== null">
              {{ props.row.confirmer.name }}
            </span>
            <span v-else>
              <div v-if="checkPermission(['confirm sales'])">
                <a
                  class="btn btn-success"
                  @click="confirmEggStock(props.row.id, props.row, props.index)"
                ><i class="fa fa-check" />
                </a>
              </div>
              <div v-else class="alert alert-danger">
                Not Confirmed
              </div>

            </span>
          </div>
          <div slot="rate" slot-scope="props">
            {{ currency + Number(props.row.rate).toLocaleString() }}
          </div>
          <div slot="total_amount" slot-scope="props">
            {{ currency + Number(props.row.total_amount).toLocaleString() }}
          </div>
          <div slot="action" slot-scope="props">
            <span v-if="props.row.confirmed_by === null">
              <a
                v-if="checkPermission(['manage sales'])"
                class="btn btn-warning"
                @click="
                  selected_index = props.index;
                  selected_sale = props.row;
                  editFormVisible = true;
                "
              ><i class="fa fa-edit" />
              </a>
              <a
                v-if="checkPermission(['manage sales'])"
                class="btn btn-danger"
                @click="deleteSoldEgg(props.row.id, props.row, props.index)"
              ><i class="fa fa-trash" />
              </a>
            </span>
            <a
              class="btn btn-success"
              @click="
                selected_sale = props.row;
                page.option = 'print';
              "
            ><i class="el-icon-printer" />
            </a>
          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add New Egg Sales'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-sales :live-stocks="live_stocks" @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Sold Eggs'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-sales
        v-if="editFormVisible"
        :live-stocks="live_stocks"
        :selected-sale="selected_sale"
        @update="updateTable"
      />
    </el-dialog>
    <print-receipt v-if="page.option == 'print'" :page="page" :selected-sale="selected_sale" />
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddSales from './partials/Eggs/AddSales';
import EditSales from './partials/Eggs/EditSales';
import PrintReceipt from './partials/Eggs/PrintReceipt';
const liveStockResource = new Resource('livestock');
const eggSalesResource = new Resource('sales/eggs');
const confirmEggsSoldResource = new Resource('sales/eggs/confirm-sales');
const deleteSoldEggsResource = new Resource('sales/eggs/destroy');
export default {
  components: {
    AddSales,
    EditSales,
    PrintReceipt,
  },
  data() {
    return {
      live_stocks: [],
      egg_sales: [],
      columns: [
        'action',
        'live_stock.name',
        'quantity_in_crates',
        'quantity',
        'rate',
        'total_amount',
        'seller.name',
        'confirmer.name',
      ],

      options: {
        headings: {
          'live_stock.name': 'Livestock',
          'quantity': 'Pieces',
          'seller.name': 'Sold By',
          'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['live_stock.name'],
        filterable: ['live_stock.name'],
      },
      page: {
        option: 'list',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_sale: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchAllLivestock();
    this.fetchEggsSold();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchAllLivestock() {
      const app = this;
      liveStockResource
        .list()
        .then(response => {
          app.live_stocks = response.live_stocks;
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    fetchEggsSold() {
      const app = this;
      const loader = eggSalesResource.loaderShow();
      eggSalesResource
        .list()
        .then(response => {
          app.egg_sales = response.egg_sales;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(new_row) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      app.egg_sales.unshift(new_row);
      // app.egg_sales = egg_sales;

      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.egg_sales.splice(app.selected_index - 1, 1, updated_row);
      app.closeModal();
    },
    confirmEggStock(id, row, index) {
      const app = this;
      const message =
        'Are you sure you want to confirm this sales? Click OK to Confirm.';
      if (confirm(message)) {
        const loader = confirmEggsSoldResource.loaderShow();
        confirmEggsSoldResource
          .update(id, row)
          .then(response => {
            app.egg_sales.splice(index - 1, 1, response.egg_sale);
            // const i = app.live_stock_batches.indexOf(batch);
            // app.live_stock_batches[i] = response.live_stock_batch;
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    deleteSoldEgg(id, row, index) {
      const app = this;
      const message =
        'Are you sure you want to delete this entry? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteSoldEggsResource.loaderShow();
        deleteSoldEggsResource
          .destroy(id)
          .then(response => {
            app.egg_sales.splice(index - 1, 1);
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
  },
};
</script>
