<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Sales of Fertilizer</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['manage sales'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> New Sales</a>
        </span>
      </div>
      <div class="box-body">
        <v-client-table v-model="fertilizer_sales" :columns="columns" :options="options">
          <div slot="confirmer.name" slot-scope="props">
            <span v-if="props.row.confirmed_by !== null">
              {{ props.row.confirmer.name }}
            </span>
            <span v-else>
              <div v-if="checkPermission(['confirm sales'])">
                <a
                  class="btn btn-success"
                  @click="confirmFertilizerStock(props.row.id, props.row, props.index)"
                ><i class="fa fa-check" />
                </a>
              </div>
              <div v-else class="alert alert-danger">
                Not Confirmed
              </div>
            </span>
          </div>
          <div slot="rate" slot-scope="props">
            {{ currency + Number(props.row.rate).toLocaleString() }}
          </div>
          <div slot="total_amount" slot-scope="props">
            {{ currency + Number(props.row.total_amount).toLocaleString() }}
          </div>
          <div slot="action" slot-scope="props">
            <span v-if="props.row.confirmed_by === null">
              <a
                v-if="checkPermission(['manage sales'])"
                class="btn btn-warning"
                @click="
                  selected_index = props.index;
                  selected_sale = props.row;
                  editFormVisible = true;
                "
              ><i class="fa fa-edit" />
              </a>
              <a
                v-if="checkPermission(['manage sales'])"
                class="btn btn-danger"
                @click="deleteSoldFertilizer(props.row.id, props.row, props.index)"
              ><i class="fa fa-trash" />
              </a>
            </span>
            <a
              class="btn btn-success"
              @click="
                selected_sale = props.row;
                page.option = 'print';
              "
            ><i class="el-icon-printer" />
            </a>
          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add New Fertilizer Sales'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-sales @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Sold Fertilizer'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-sales
        v-if="editFormVisible"
        :selected-sale="selected_sale"
        @update="updateTable"
      />
    </el-dialog>
    <print-receipt v-if="page.option == 'print'" :page="page" :selected-sale="selected_sale" />
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddSales from './partials/Fertilizer/AddSales';
import EditSales from './partials/Fertilizer/EditSales';
import PrintReceipt from './partials/Fertilizer/PrintReceipt';
const fertilizerSalesResource = new Resource('sales/fertilizer');
const confirmFertilizerSoldResource = new Resource('sales/fertilizer/confirm-sales');
const deleteSoldFertilizerResource = new Resource('sales/fertilizer/destroy');
export default {
  components: {
    AddSales,
    EditSales,
    PrintReceipt,
  },
  data() {
    return {
      fertilizer_sales: [],
      columns: [
        'action',
        'quantity',
        'rate',
        'total_amount',
        'seller.name',
        'confirmer.name',
      ],

      options: {
        headings: {
          'quantity': 'Quantity (Bags)',
          'seller.name': 'Sold By',
          'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['total_amount', 'seller.name', 'confirmer.name'],
        filterable: ['total_amount', 'seller.name', 'confirmer.name'],
      },
      page: {
        option: 'list',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_sale: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchFertilizerSold();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchFertilizerSold() {
      const app = this;
      const loader = fertilizerSalesResource.loaderShow();
      fertilizerSalesResource
        .list()
        .then(response => {
          app.fertilizer_sales = response.fertilizer_sales;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(new_row) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      app.fertilizer_sales.unshift(new_row);
      // app.fertilizer_sale = fertilizer_sale;

      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.fertilizer_sales.splice(app.selected_index - 1, 1, updated_row);
      app.closeModal();
    },
    confirmFertilizerStock(id, row, index) {
      const app = this;
      const message =
        'Are you sure you want to confirm this sales? Click OK to Confirm.';
      if (confirm(message)) {
        const loader = confirmFertilizerSoldResource.loaderShow();
        confirmFertilizerSoldResource
          .update(id, row)
          .then(response => {
            app.fertilizer_sales.splice(index - 1, 1, response.fertilizer_sale);
            // const i = app.live_stock_batches.indexOf(batch);
            // app.live_stock_batches[i] = response.live_stock_batch;
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    deleteSoldFertilizer(id, row, index) {
      const app = this;
      const message =
        'Are you sure you want to delete this entry? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteSoldFertilizerResource.loaderShow();
        deleteSoldFertilizerResource
          .destroy(id)
          .then(response => {
            app.fertilizer_sales.splice(index - 1, 1);
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
  },
};
</script>
