<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Sales of Livestocks</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['manage sales'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> New Sales</a>
        </span>
      </div>
      <div class="box-body">
        <v-client-table
          v-model="livestock_sales"
          :columns="columns"
          :options="options"
        >
          <div slot="confirmer.name" slot-scope="props">
            <span v-if="props.row.confirmed_by !== null">
              {{ props.row.confirmer.name }}
            </span>
            <span v-else>
              <div v-if="checkPermission(['confirm sales'])">
                <a
                  class="btn btn-success"
                  @click="confirmLivestockStock(props.row.id, props.row, props.index)"
                ><i class="fa fa-check" />
                </a>
              </div>
              <div v-else class="alert alert-danger">
                Not Confirmed
              </div>
            </span>
          </div>
          <div slot="rate" slot-scope="props">
            {{ currency + Number(props.row.rate).toLocaleString() }}
          </div>
          <div slot="amount" slot-scope="props">
            {{ currency + Number(props.row.amount).toLocaleString() }}
          </div>
          <div slot="action" slot-scope="props">
            <span v-if="props.row.confirmed_by === null">
              <a
                v-if="checkPermission(['manage sales'])"
                class="btn btn-warning"
                @click="
                  selected_index = props.index;
                  selected_sale = props.row;
                  editFormVisible = true;
                "
              ><i class="fa fa-edit" />
              </a>
              <a
                class="btn btn-danger"
                @click="deleteSoldLivestock(props.row.id, props.row, props.index)"
              ><i class="fa fa-trash" />
              </a>
            </span>
            <a
              v-if="checkPermission(['manage sales'])"
              class="btn btn-success"
              @click="
                selected_sale = props.row;
                page.option = 'print';
              "
            ><i class="el-icon-printer" />
            </a>
          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add New Livestock Sale'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-sales :live-stocks="live_stocks" @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Sold Livestocks'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-sales
        v-if="editFormVisible"
        :live-stocks="live_stocks"
        :selected-sale="selected_sale"
        @update="updateTable"
      />
    </el-dialog>
    <print-receipt v-if="page.option == 'print'" :page="page" :selected-sale="selected_sale" />
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddSales from './partials/Livestocks/Add';
import EditSales from './partials/Livestocks/Edit';
import PrintReceipt from './partials/Livestocks/PrintReceipt';
const liveStockResource = new Resource('livestock');
const livestockSalesResource = new Resource('sales/livestocks');
const confirmLivestocksSoldResource = new Resource('sales/livestocks/confirm-sales');
const deleteSoldLivestocksResource = new Resource('sales/livestocks/destroy');
export default {
  components: {
    AddSales,
    EditSales,
    PrintReceipt,
  },
  data() {
    return {
      live_stocks: [],
      livestock_sales: [],
      columns: [
        'action',
        'live_stock.name',
        'batch.batch_no',
        'quantity',
        'amount',
        'rate',
        'seller.name',
        'confirmer.name',
      ],

      options: {
        headings: {
          'live_stock.name': 'Livestock',
          'batch.batch_no': 'Batch',
          'seller.name': 'Sold By',
          'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['live_stock.name', 'batch.batch_no'],
        filterable: ['live_stock.name', 'batch.batch_no'],
      },
      page: {
        option: 'list',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_sale: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchAllLivestock();
    this.fetchLivestocksSold();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchAllLivestock() {
      const app = this;
      liveStockResource
        .list()
        .then(response => {
          app.live_stocks = response.live_stocks;
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    fetchLivestocksSold() {
      const app = this;
      const loader = livestockSalesResource.loaderShow();
      livestockSalesResource
        .list()
        .then(response => {
          app.livestock_sales = response.livestock_sales;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(new_row) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      app.livestock_sales.unshift(new_row);
      // app.livestock_sales = livestock_sales;

      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.livestock_sales.splice(app.selected_index - 1, 1, updated_row);
      app.closeModal();
    },
    confirmLivestockStock(id, row, index) {
      const app = this;
      const message =
        'Are you sure you want to confirm this sales? Click OK to Confirm.';
      if (confirm(message)) {
        const loader = confirmLivestocksSoldResource.loaderShow();
        confirmLivestocksSoldResource
          .update(id, row)
          .then(response => {
            app.livestock_sales.splice(index - 1, 1, response.livestock_sale);
            // const i = app.live_stock_batches.indexOf(batch);
            // app.live_stock_batches[i] = response.live_stock_batch;
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    deleteSoldLivestock(id, row, index) {
      const app = this;
      const message =
        'Are you sure you want to delete this entry? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteSoldLivestocksResource.loaderShow();
        deleteSoldLivestocksResource
          .destroy(id)
          .then(response => {
            app.livestock_sales.splice(index - 1, 1);
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
  },
};
</script>
