<template>
  <div v-loading="savingMedicine" class="form-container">
    <el-form ref="new_medicine" :model="new_medicine" label-position="left" label-width="140px" style="max-width: 500px;">
      <el-form-item label="Livestock" prop="live_stock">
        <el-select v-model="new_medicine.livestock_id" placeholder="Select Livestock" filterable class="span">
          <el-option v-for="(live_stock, index) in liveStocks" :key="index" :value="live_stock.id" :label="live_stock.name.toUpperCase() + ' ('+live_stock.category.name+')' " />

        </el-select>
      </el-form-item>
      <el-form-item label="Medicine Names" prop="name">
        <el-input v-model="new_medicine.names" type="textarea" />
        <small>separate multiple by comma</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addMedicine()">
        Submit
      </el-button>
    </div>
  </div>

</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addMedicineResource = new Resource('inventory/medicines/store');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => ([]),
    },
  },
  data() {
    return {
      live_stocks: [],
      new_medicine: {
        livestock_id: '',
        names: '',
      },
      savingMedicine: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addMedicine() {
      const app = this;
      const params = app.new_medicine;
      app.savingMedicine = true;
      addMedicineResource
        .store(params)
        .then(response => {
          app.savingMedicine = false;
          app.emptyForm();
          app.$emit('save', response.livestock_medicines);
        })
        .catch(error => {
          console.log(error.message);
          app.savingMedicine = false;
        });
    },
    emptyForm(){
      this.new_medicine = {
        livestock_id: '',
        name: '',
      };
    },
  },
};
</script>
