<template>
  <div v-loading="editingLiveStockMedicine" class="form-container">
    <el-form ref="selectedMedicine" :model="selectedMedicine" label-position="left" label-width="150px" style="max-width: 500px;">
      <el-form-item label="Livestock" prop="live_stock">
        <el-select v-model="selectedMedicine.livestock_id" placeholder="Select Livestock" filterable class="span">
          <el-option v-for="(live_stock, index) in liveStocks" :key="index" :value="live_stock.id" :label="live_stock.name.toUpperCase() + ' ('+live_stock.category.name+')' " />

        </el-select>
      </el-form-item>
      <el-form-item label="Medicine Name" prop="name">
        <el-input v-model="selectedMedicine.name" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="updateLiveStock()">
        Update
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const editLiveStockMedicinesResource = new Resource('inventory/medicines/update');
export default {
  props: {
    selectedMedicine: {
      type: Object,
      default: () => ({}),
    },
    liveStocks: {
      type: Array,
      default: () => ([]),
    },
  },
  data() {
    return {
      live_stocks: [],
      // selectedMedicine: {
      //   livestock_id: '',
      //   quantity_stocked: '',
      //   stocked_age_in_days: '',
      //   date_stocked: '',
      //   rate: '',
      // },
      editingLiveStockMedicine: false,
      // pickerOptions: {
      //   disabledDate(date) {
      //     var d = new Date(); // today
      //     d.setDate(d.getDate()); // one year from now
      //     return date > d;
      //   },
      // },
    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    updateLiveStock() {
      const app = this;
      const params = app.selectedMedicine;
      app.editingLiveStockMedicine = true;
      editLiveStockMedicinesResource
        .update(params.id, params)
        .then(response => {
          app.editingLiveStockMedicine = false;
          app.$emit('update', response.livestock_medicine
          );
        })
        .catch(error => {
          console.log(error.message);
          app.editingLiveStockMedicine = false;
        });
    },
  },
};
</script>
