<template>
  <div v-loading="updatingMedicineStock" class="form-container">
    <el-form
      ref="selectedStock"
      :model="selectedStock"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Livestock" prop="live_stock">
        <el-select
          v-model="selectedStock.livestock_id"
          placeholder="Select Livestock"
          filterable
          class="span"
          @input="fetchLivestockMedicines()"
        >
          <el-option
            v-for="(live_stock, index) in liveStocks"
            :key="index"
            :value="live_stock.id"
            :label="
              live_stock.name.toUpperCase() +
                ' (' +
                live_stock.category.name +
                ')'
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Medicine" prop="medicine_id">
        <el-select
          v-model="selectedStock.medicine_id"
          placeholder="Select Medicine"
          filterable
          class="span"
        >
          <el-option
            v-for="(medicine, index) in medicines"
            :key="index"
            :value="medicine.id"
            :label="medicine.name"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Package Type" prop="package_type">
        <el-select
          v-model="selectedStock.package_type"
          placeholder="Select Package Type"
          filterable
          class="span"
        >
          <el-option
            v-for="(package_type, index) in package_types"
            :key="index"
            :value="package_type"
            :label="package_type"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="selectedStock.quantity_stocked" type="number" min="0">
          <template slot="append">{{ selectedStock.package_type }}</template>
        </el-input>
        <small>Enter the quantity to stock in
          {{ selectedStock.package_type }}</small>
      </el-form-item>
      <el-form-item label="Measured In" prop="unit_of_measurement">
        <el-select
          v-model="selectedStock.unit_of_measurement"
          placeholder="Select Measurement Unit"
          filterable
          class="span"
        >
          <el-option
            v-for="(unit, index) in units_of_measurement"
            :key="index"
            :value="unit"
            :label="unit"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Net Weight" prop="net_weight">
        <el-input v-model="selectedStock.net_weight" type="number" min="0">
          <template slot="append">{{
            selectedStock.unit_of_measurement
          }}</template>
        </el-input>
        <small>Enter the net weight of each in
          {{ selectedStock.unit_of_measurement }}</small>
      </el-form-item>
      <el-form-item label="Rate" prop="rate">
        <el-input v-model="selectedStock.rate" type="number" min="0">
          <template slot="prepend">{{ currency }}</template>
        </el-input>
        <small>Enter the amount of each</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="editMedicineStock()">
        Update
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const editMedicineStockResource = new Resource('inventory/medicine-stock/update');
const fetchLivestockmedicinesResource = new Resource(
  'inventory/medicine-stock/fetch-medicines'
);
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => [],
    },
    selectedStock: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      live_stocks: [],
      medicines: [],
      updatingMedicineStock: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      package_types: ['Bags', 'Bottles', 'Cartons', 'Gallons'],
      units_of_measurement: ['Kg', 'Ltr'],
      currency: '₦',
    };
  },
  mounted() {
    this.fetchLivestockMedicines();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    editMedicineStock() {
      const app = this;
      const params = app.selectedStock;
      app.updatingMedicineStock = true;
      editMedicineStockResource
        .update(params.id, params)
        .then(response => {
          app.updatingMedicineStock = false;
          app.$emit('update', response.medicine_stock_batch);
        })
        .catch(error => {
          console.log(error.message);
          app.updatingMedicineStock = false;
        });
    },
    fetchLivestockMedicines() {
      const app = this;
      const livestock_id = app.selectedStock.livestock_id;
      fetchLivestockmedicinesResource.get(livestock_id).then(response => {
        app.medicines = response.medicines;
      });
    },
  },
};
</script>
