<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Incomes</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission(['manage item stocks', 'create item stocks'])" class="btn btn-info" @click="page.option = 'add_new'"> Add New</a>
        </span> -->
      </div>
      <div class="box-body">
        <v-client-table v-model="incomes" :columns="columns" :options="options">
          <div slot="created_at" slot-scope="props">
            {{ moment(props.row.created_at).format('MMMM D, YYYY') }}
          </div>
          <div slot="action" slot-scope="props">
            <a
              class="btn btn-default"
              @click="
                selected_income = props.row;
                page.option = 'view_details';
              "
            ><i class="fa fa-eye" />
            </a>
          </div>
        </v-client-table>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import Resource from '@/api/resource';
const fetchAllExpensesResource = new Resource('account/expenses');
export default {
  components: {
    // AgGridVue
  },
  data() {
    return {
      incomes: [],
      columns: [
        'action',
        'description',
        'customer',
        'amount',
        'confirmer.name',
        'created_at',
      ],

      options: {
        headings: {
          'confirmer.name': 'Confirmed By',
          created_at: 'Date',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: true,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['description', 'customer', 'created_at'],
        filterable: ['description', 'customer', 'created_at'],
      },
      page: {
        option: 'list',
      },
    };
  },
  mounted() {
    this.fetchAllIncome();
  },
  methods: {
    moment,
    fetchAllIncome() {
      const app = this;
      const loader = fetchAllExpensesResource.loaderShow();
      fetchAllExpensesResource.list().then(response => {
        app.incomes = response.incomes;
        loader.hide();
      });
    },
  },
};
</script>
