<template>
  <div v-loading="savingEggSold" class="form-container">
    <el-form
      ref="new_livestock_sold"
      :model="new_livestock_sold"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Livestock" prop="live_stock">
        <el-select
          v-model="new_livestock_sold.livestock_id"
          placeholder="Select Livestock"
          filterable
          class="span"
          @input="fetchLivestockBatch();"
        >
          <el-option
            v-for="(live_stock, index) in liveStocks"
            :key="index"
            :value="live_stock.id"
            :label="
              live_stock.name.toUpperCase() +
                ' (' +
                live_stock.category.name +
                ')'
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Batch" prop="batch">
        <el-select
          v-model="selected_live_stock_batch_index"
          placeholder="Select Batch"
          filterable
          class="span"
          @input="calculateLivestockCost();"
        >
          <el-option
            v-for="(batch, index) in batches"
            :key="index"
            :value="index"
            :label="batch.batch_no + ' (' + parseInt(batch.quantity_stocked - batch.quantity_sold - batch.quantity_dead) + ')'"
          />
        </el-select>
        <span v-if="cost_of_rearing_each != ''" style="color: #a1501af8;">Cost of rearing each {{ currency + cost_of_rearing_each }}</span>
      </el-form-item>

      <el-form-item label="Quantity" prop="quantity">
        <el-input
          v-model="new_livestock_sold.quantity"
          type="number"
          min="0"
          @input="calculateTotalCostPrice();"
        />
        <small>Enter the number of livestocks for sale</small>
      </el-form-item>
      <el-form-item label="Amount" prop="amount">
        <el-input v-model="new_livestock_sold.amount" type="number" min="0">
          <template slot="prepend">{{ currency }}</template>
        </el-input>
        <small>Enter the total amount for the sales</small>
        <br>
        <small v-if="cost_of_rearing != ''" style="color: #a1501af8;">Total cost of rearing {{ currency + cost_of_rearing }}</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" :disabled="disable_button" @click="addEggSold()">
        Submit
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addEggSoldResource = new Resource('sales/livestocks/store');
const calculateLivestockCost = new Resource('sales/livestocks/cost-of-rearing');
const fetchLivestockBatchesResource = new Resource('livestock/fetch-batches');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      live_stocks: [],
      batches: [],
      new_livestock_sold: {
        livestock_id: '',
        live_stock_batch_id: '',
        amount: '',
        quantity: 1,
      },
      savingEggSold: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      package_types: ['Bags', 'Bottles', 'Cartons', 'Gallons'],
      cost_of_rearing_each: '',
      cost_of_rearing: '',
      currency: '₦',
      selected_live_stock_batch_index: '',
      disable_button: false,
    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    addEggSold() {
      const app = this;
      const params = app.new_livestock_sold;
      app.savingEggSold = true;
      addEggSoldResource
        .store(params)
        .then(response => {
          app.savingEggSold = false;
          app.emptyForm();
          app.$emit('save', response.livestock_sale);
        })
        .catch(error => {
          console.log(error.message);
          app.savingEggSold = false;
        });
    },
    fetchLivestockBatch() {
      const app = this;
      const livestock_id = app.new_livestock_sold.livestock_id;
      app.new_livestock_sold.live_stock_batch_id = '';
      app.selected_live_stock_batch_index = '';
      fetchLivestockBatchesResource.get(livestock_id).then(response => {
        app.batches = response.batches;
      });
    },
    calculateLivestockCost(){
      const app = this;
      const live_stock_batch_id = app.batches[app.selected_live_stock_batch_index].id;
      app.new_livestock_sold.live_stock_batch_id = live_stock_batch_id;
      calculateLivestockCost.get(live_stock_batch_id).then(response => {
        app.cost_of_rearing_each = response.cost_of_rearing_each;
      });
    },
    calculateTotalCostPrice(){
      const app = this;
      const selected_live_stock_batch = app.batches[app.selected_live_stock_batch_index];
      const remaining_stock = parseInt(selected_live_stock_batch.quantity_stocked - selected_live_stock_batch.quantity_dead - selected_live_stock_batch.quantity_sold);
      app.disable_button = false;
      if (app.new_livestock_sold.quantity <= remaining_stock) {
        app.cost_of_rearing = app.new_livestock_sold.quantity * app.cost_of_rearing_each;
      } else {
        app.$alert('Make sure the quantity is not more than ' + remaining_stock);
        app.new_livestock_sold.quantity = remaining_stock;
        app.cost_of_rearing = remaining_stock * app.cost_of_rearing_each;
        app.disable_button = true;
      }
    },
    emptyForm() {
      this.new_livestock_sold = {
        livestock_id: '',
        live_stock_batch_id: '',
        amount: '',
        quantity: 1,
      };
    },
  },
};
</script>
