<template>
  <div v-loading="updatingEggSold" class="form-container">
    <el-form
      ref="selectedSale"
      :model="selectedSale"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Livestock" prop="live_stock">
        <el-select
          v-model="selectedSale.livestock_id"
          placeholder="Select Livestock"
          filterable
          class="span"
          @input="fetchLivestockBatch()"
        >
          <el-option
            v-for="(live_stock, index) in liveStocks"
            :key="index"
            :value="live_stock.id"
            :label="
              live_stock.name.toUpperCase() +
                ' (' +
                live_stock.category.name +
                ')'
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Batch" prop="batch">
        <el-select
          v-model="selectedSale.live_stock_batch_id"
          placeholder="Select Batch"
          filterable
          class="span"
          @input="calculateLivestockCost()"
        >
          <el-option
            v-for="(batch, index) in batches"
            :key="index"
            :value="batch.id"
            :label="batch.batch_no"
          />
        </el-select>
        <span
          v-if="cost_of_rearing_each != ''"
          style="color: #a1501af8;"
        >Cost of rearing each {{ currency + cost_of_rearing_each }}</span>
      </el-form-item>

      <el-form-item label="Quantity" prop="quantity">
        <el-input
          v-model="selectedSale.quantity"
          type="number"
          min="0"
          @input="calculateTotalCostPrice()"
        />
        <small>Enter the number of livestocks for sale</small>
      </el-form-item>
      <el-form-item label="Amount" prop="amount">
        <el-input v-model="selectedSale.amount" type="number" min="0">
          <template slot="prepend">{{ currency }}</template>
        </el-input>
        <small>Enter the total amount for the sales</small>
        <br>
        <small
          v-if="cost_of_rearing != ''"
          style="color: #a1501af8;"
        >Total cost of rearing {{ currency + cost_of_rearing }}</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="updateEggSold()">
        Update
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const updateEggSoldResource = new Resource('sales/livestocks/update');
const calculateLivestockCost = new Resource('sales/livestocks/cost-of-rearing');
const fetchLivestockBatchesResource = new Resource('livestock/fetch-batches');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => [],
    },
    selectedSale: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      live_stocks: [],
      batches: [],
      updatingEggSold: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      package_types: ['Bags', 'Bottles', 'Cartons', 'Gallons'],
      cost_of_rearing_each: '',
      cost_of_rearing: '',
      currency: '₦',
    };
  },
  mounted() {
    this.fetchLivestockBatch();
    this.calculateLivestockCost();
  },
  methods: {
    updateEggSold() {
      const app = this;
      const params = app.selectedSale;
      app.updatingEggSold = true;
      updateEggSoldResource
        .update(params.id, params)
        .then(response => {
          app.updatingEggSold = false;
          app.$emit('update', response.livestock_sale);
        })
        .catch(error => {
          console.log(error.message);
          app.updatingEggSold = false;
        });
    },
    fetchLivestockBatch() {
      const app = this;
      const livestock_id = app.selectedSale.livestock_id;
      fetchLivestockBatchesResource.get(livestock_id).then(response => {
        app.batches = response.batches;
      });
    },
    calculateLivestockCost() {
      const app = this;
      const live_stock_batch_id = app.selectedSale.live_stock_batch_id;
      calculateLivestockCost.get(live_stock_batch_id).then(response => {
        app.cost_of_rearing_each = response.cost_of_rearing_each;
        app.calculateTotalCostPrice();
      });
    },
    calculateTotalCostPrice() {
      const app = this;
      app.cost_of_rearing =
        app.selectedSale.quantity * app.cost_of_rearing_each;
    },
  },
};
</script>
