<template>
  <div class="dashboard-editor-container">
    <el-card>
      <el-carousel v-if="useCarousel" :interval="10000" indicator-position="outside" :height="'500px'">
        <el-carousel-item>
          <livestock-in-stock :params="currentParams" />
        </el-carousel-item>
        <el-carousel-item>
          <fleet-reports :params="params" />
        </el-carousel-item>
        <el-carousel-item>
          <delivery-cost :params="params" />
        </el-carousel-item>
      </el-carousel>
      <el-tabs v-if="!useCarousel" v-model="activeActivity">
        <el-tab-pane label="Stock Report" name="first">
          <products-in-stock :params="params" />
        </el-tab-pane>
        <el-tab-pane label="Fleet Reports" name="second">
          <fleet-reports :params="params" />
        </el-tab-pane>
        <el-tab-pane label="Delivery Cost" name="third">
          <delivery-cost :params="params" />
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>

<script>
import LivestockInStock from './components/LivestockInStock';
import FleetReports from './components/FleetReports';
import DeliveryCost from './components/DeliveryCost';
export default {
  name: 'AdminReport',
  components: {
    LivestockInStock,
    FleetReports,
    DeliveryCost,
    // LineChart,
    // RaddarChart,
    // PieChart,
    // BarChart,
    // TransactionTable,
    // TodoList,
    // BoxCard,
  },
  props: {
    useCarousel: {
      type: Boolean,
      default: () => (false),
    },
    params: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      activeActivity: 'first',
      data_summary: '',
      current_params: {
        from: '',
        to: '',
        panel: '',
      },
    };
  },
  watch: {
    params: {
      handler(val){
        this.current_params = val;
      },
      deep: true,
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard-editor-container {
  padding: 10px;
  background-color: rgb(240, 242, 245);
  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 10px;
  }
}
</style>
