<template>
  <div v-loading="savingEggSold" class="form-container">
    <el-form
      ref="new_egg_sold"
      :model="new_egg_sold"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Livestock" prop="live_stock">
        <el-select
          v-model="new_egg_sold.livestock_id"
          placeholder="Select Livestock"
          filterable
          class="span"
        >
          <el-option
            v-for="(live_stock, index) in liveStocks"
            :key="index"
            :value="live_stock.id"
            :label="
              live_stock.name.toUpperCase() +
                ' (' +
                live_stock.category.name +
                ')'
            "
            :disabled="(live_stock.can_lay_eggs == 'yes') ? false : true"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Quantity (in crates)" prop="quantity_in_crates">
        <el-input v-model="new_egg_sold.quantity_in_crates" type="number" min="0">
          <template slot="append">crates</template>
        </el-input>
        <small>Enter the quantity of eggs in crates</small>
      </el-form-item>
      <el-form-item label="Amount" prop="amount">
        <el-input v-model="new_egg_sold.total_amount" type="number" min="0">
          <template slot="prepend">{{ currency }}</template>
        </el-input>
        <small>Enter the total amount for the sales</small>
      </el-form-item>

    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addEggSold()">
        Submit
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addEggSoldResource = new Resource('sales/eggs/store');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      live_stocks: [],
      livestock_batches: [],
      new_egg_sold: {
        livestock_id: '',
        total_amount: '',
        quantity_in_crates: 1,
      },
      savingEggSold: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      package_types: ['Bags', 'Bottles', 'Cartons', 'Gallons'],
      units_of_measurement: ['Kg', 'Ltr'],
      currency: '₦',

    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addEggSold() {
      const app = this;
      const params = app.new_egg_sold;
      app.savingEggSold = true;
      addEggSoldResource
        .store(params)
        .then(response => {
          app.savingEggSold = false;
          app.emptyForm();
          app.$emit('save', response.egg_sale);
        })
        .catch(error => {
          console.log(error.message);
          app.savingEggSold = false;
        });
    },
    emptyForm() {
      this.new_egg_sold = {
        livestock_id: '',
        total_amount: '',
        quantity_in_crates: '',
      };
    },
  },
};
</script>
