<template>
  <div>
    <el-row :gutter="5" class="panel-group">
      <el-col :xs="24" :sm="12" :lg="8" class="card-panel-col">
        <el-card v-if="selectedSale">
          <div class="user-profile">
            <span class="pull-right">
              <div class="no-print">
                <el-button type="danger" @click="page.option='list'">Back</el-button>
              </div>
            </span>
            <div class="box-center">
              <div class="col-xs-12 page-header" align="center">
                <img src="/images/logo.png" alt="Company Logo" width="50">
                <span>
                  <label>{{ company_name }}</label>
                </span>
              </div>
              <h4 class="text-center">RECEIPT</h4>
              <p class="user-name text-center">
                SALE OF EGGS
              </p>
            </div>
          </div>
        </el-card>
        <el-card v-if="selectedSale">
          <table>
            <tr>
              <td>Quantity (in crates):</td>
              <td>{{ selectedSale.quantity_in_crates }}</td>
            </tr>
            <tr>
              <td>Quantity (in pieces):</td>
              <td>{{ selectedSale.quantity }}</td>
            </tr>
            <tr>
              <td>Rate:</td>
              <td>{{ currency + Number(selectedSale.rate).toLocaleString() }}</td>
            </tr>
            <tr>
              <td>Total Amount:</td>
              <td>{{ currency + Number(selectedSale.total_amount).toLocaleString() }}</td>
            </tr>
            <tr v-if="selectedSale.seller">
              <td>Sold By:</td>
              <td>{{ selectedSale.seller.name }}</td>
            </tr>
            <tr>
              <td>Date:</td>
              <td>{{ moment(selectedSale.created_at).format('MMM D, YYYY') }}</td>
            </tr>
          </table>
        </el-card>
        <el-card class="no-print">
          <span>
            <div class="no-print">
              <el-button type="success" @click="doPrint();"><i class="el-icon-printer" /> Print</el-button>
            </div>
          </span>
        </el-card>
      </el-col>
    </el-row>

  </div>
</template>
<script>
import moment from 'moment';
export default {
  props: {
    page: {
      type: Object,
      default: () => ({
        option: 'print',
      }),
    },
    selectedSale: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      company_name: 'OGG FARMS',
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      currency: '₦',
    };
  },
  mounted() {
    this.doPrint();
  },
  methods: {
    moment,
    doPrint() {
      window.print();
    },
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
  },
};
</script>
