<template>
  <el-row :gutter="10" class="panel-group">
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="small-box bg-aqua-gradient">
        <div class="inner">
          <h4>{{ currency + Number(dataSummary.total_income).toLocaleString() }}</h4>
          <p>Total Income</p>
        </div>
        <!-- <div class="icon">
          <i class="el-icon-circle-plus-outline" />
        </div> -->
      </div>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="small-box bg-maroon-gradient">
        <div class="inner">
          <h4>{{ currency + Number(dataSummary.total_expenses).toLocaleString() }}</h4>
          <p>Total Expenses</p>
        </div>
        <!-- <div class="icon">
          <i class="el-icon-remove-outline" />
        </div> -->
      </div>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div v-if="dataSummary.total_profit > 0" class="small-box bg-green-gradient">
        <div class="inner">
          <h4>{{ currency + Number(dataSummary.total_profit).toLocaleString() }}</h4>
          <p>Total Profit</p>
        </div>
        <!-- <div class="icon">
          <i class="el-icon-coin" />
        </div> -->
      </div>
      <div v-else class="small-box bg-red-gradient">
        <div class="inner">
          <h4>{{ currency + Number(dataSummary.total_profit).toLocaleString() }}</h4>
          <p>Total Profit</p>
        </div>
        <!-- <div class="icon">
          <i class="el-icon-coin" />
        </div> -->
      </div>

    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="small-box bg-black-gradient">
        <div class="inner">
          <h4>{{ currency + Number(dataSummary.total_losses).toLocaleString() }}</h4>
          <p>Total Losses (Livestock Death / Disaster)</p>
        </div>
        <!-- <div class="icon">
          <i class="el-icon-circle-close" />
        </div> -->
      </div>
    </el-col>

  </el-row>
</template>

<script>
export default {
  props: {
    dataSummary: {
      type: Object,
      default: () => ({
        total_income: 0,
        total_expenses: 0,
        total_profit: 0,
        total_losses: 0,
      }),
    },
  },
  data() {
    return {
      currency: '₦',

    };
  },
  methods: {
    // handleSetLineChartData(type) {
    //   this.$emit('handleSetLineChartData', type);
    // },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.panel-group {
  margin-top: 5px;
  .card-panel-col{
    margin-bottom: 5px;
  }
  .card-panel {
    height: 108px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: rgb(76, 182, 85);
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .05);
    &:hover {
      .card-panel-icon-wrapper {
        color: #fff;
      }
      .icon-people {
         background: #40c9c6;
      }
      .icon-message {
        background: #36a3f7;
      }
      .icon-money {
        background: #f4516c;
      }
      .icon-shopping {
        background: #34bfa3
      }
    }
    .icon-people {
      color: #40c9c6;
    }
    .icon-message {
      color: #36a3f7;
    }
    .icon-money {
      color: #f4516c;
    }
    .icon-shopping {
      color: #34bfa3
    }
    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
    }
    .card-panel-icon {
      float: left;
      font-size: 48px;
    }
    .card-panel-description {
      float: right;
      font-weight: bold;
      margin: 26px;
      margin-left: 0px;
      .card-panel-text {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        margin-bottom: 12px;
      }
      .card-panel-num {
        font-size: 20px;
      }
    }
  }
}
</style>
