<template>
  <div v-loading="savingLiveStock" class="form-container">
    <el-form ref="new_batch" :model="new_batch" label-position="left" label-width="150px" style="max-width: 500px;">
      <el-form-item label="Livestock" prop="live_stock">
        <el-select v-model="new_batch.livestock_id" placeholder="Select Livestock" filterable class="span">
          <el-option v-for="(live_stock, index) in liveStocks" :key="index" :value="live_stock.id" :label="live_stock.name.toUpperCase() + ' ('+live_stock.category.name+')' " />

        </el-select>
      </el-form-item>
      <el-form-item label="Age (in days)" prop="stocked_age_in_days">
        <el-input v-model="new_batch.stocked_age_in_days" />
      </el-form-item>
      <el-form-item label="Quantity to Stock" prop="quantity">
        <el-input v-model="new_batch.quantity_stocked" />
      </el-form-item>
      <el-form-item label="Stock Date" prop="date">
        <el-date-picker v-model="new_batch.date_stocked" type="date" outline format="yyyy/MM/dd" value-format="yyyy-MM-dd" :picker-options="pickerOptions" style="width: 100%;" />
      </el-form-item>
      <el-form-item label="Rate" prop="rate">
        <el-input v-model="new_batch.rate" type="number" min="0">
          <template slot="prepend">{{ currency }}</template>
        </el-input>
        <small>Enter the amount of each</small>

      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addLiveStock()">
        Submit
      </el-button>
    </div>
  </div>

</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addLiveStockResource = new Resource('livestock/batch/store');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => ([]),
    },
  },
  data() {
    return {
      live_stocks: [],
      new_batch: {
        livestock_id: '',
        quantity_stocked: '',
        stocked_age_in_days: '',
        date_stocked: '',
        rate: '',
      },
      savingLiveStock: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      currency: '₦',

    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addLiveStock() {
      const app = this;
      const params = app.new_batch;
      app.savingLiveStock = true;
      addLiveStockResource
        .store(params)
        .then(response => {
          app.savingLiveStock = false;
          app.emptyForm();
          app.$emit('save', response.live_stock_batch);
        })
        .catch(error => {
          console.log(error.message);
          app.savingLiveStock = false;
        });
    },
    emptyForm(){
      this.new_batch = {
        livestock_id: '',
        quantity_stocked: '',
        date_stocked: '',
        stocked_age_in_days: '',
        rate: '',
      };
    },
  },
};
</script>
