<template>
  <div v-loading="editingLiveStock" class="form-container">
    <el-form
      ref="selectedBatch"
      :model="selectedBatch"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Livestock" prop="live_stock">
        <el-select
          v-model="selectedBatch.livestock_id"
          placeholder="Select Livestock"
          filterable
          class="span"
        >
          <el-option
            v-for="(live_stock, index) in liveStocks"
            :key="index"
            :value="live_stock.id"
            :label="
              live_stock.name.toUpperCase() +
                ' (' +
                live_stock.category.name +
                ')'
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Age (in days)" prop="stocked_age_in_days">
        <el-input v-model="selectedBatch.stocked_age_in_days" />
      </el-form-item>
      <el-form-item label="Quantity to Stock" prop="quantity">
        <el-input v-model="selectedBatch.quantity_stocked" />
      </el-form-item>
      <el-form-item label="Stock Date" prop="date">
        <el-date-picker
          v-model="selectedBatch.date_stocked"
          type="date"
          outline
          format="yyyy/MM/dd"
          value-format="yyyy-MM-dd"
          :picker-options="pickerOptions"
          style="width: 100%;"
        />
      </el-form-item>
      <el-form-item label="Rate for each (₦)" prop="rate">
        <el-input v-model="selectedBatch.rate" type="number" min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="updateLiveStock()">
        Update
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const editLiveStockBatchResource = new Resource('livestock/batch/update');
export default {
  props: {
    selectedBatch: {
      type: Object,
      default: () => ({}),
    },
    liveStocks: {
      type: Array,
      default: () => ([]),
    },
  },
  data() {
    return {
      live_stocks: [],
      // selectedBatch: {
      //   livestock_id: '',
      //   quantity_stocked: '',
      //   stocked_age_in_days: '',
      //   date_stocked: '',
      //   rate: '',
      // },
      editingLiveStock: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    updateLiveStock() {
      const app = this;
      const params = app.selectedBatch;
      app.editingLiveStock = true;
      editLiveStockBatchResource
        .update(params.id, params)
        .then(response => {
          app.editingLiveStock = false;
          app.$emit('update', response.live_stock_batch);
        })
        .catch(error => {
          console.log(error.message);
          app.editingLiveStock = false;
        });
    },
  },
};
</script>
