<template>
  <div v-loading="savingMortality" class="form-container">
    <el-form ref="new_mortality" :model="new_mortality" label-position="left" label-width="150px" style="max-width: 500px;">
      <el-form-item label="Livestock" prop="live_stock">
        <el-select v-model="new_mortality.livestock_id" placeholder="Select Livestock" filterable class="span" @input="fetchLivestockBatch()">
          <el-option v-for="(live_stock, index) in liveStocks" :key="index" :value="live_stock.id" :label="live_stock.name.toUpperCase() + ' ('+live_stock.category.name+')' " />

        </el-select>
      </el-form-item>
      <el-form-item label="Batch" prop="live_stock">
        <el-select v-model="new_mortality.batch_id" placeholder="Select Batch" filterable class="span">
          <el-option v-for="(batch, index) in batches" :key="index" :value="batch.id" :label="batch.batch_no" />

        </el-select>
      </el-form-item>
      <el-form-item label="Cause of Death" prop="cause_of_death">
        <el-input v-model="new_mortality.cause_of_death" type="textarea" />
        <small>Briefly state the possible cause of death</small>
      </el-form-item>
      <el-form-item label="Mortality Date" prop="death_date">
        <el-date-picker v-model="new_mortality.death_date" type="date" outline format="yyyy/MM/dd" value-format="yyyy-MM-dd" :picker-options="pickerOptions" style="width: 100%;" />
        <small>Set the date the livestock(s) died</small>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="new_mortality.quantity" type="number" min="0" />
        <small>Enter the number of livestock that died from this batch</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addMortality()">
        Submit
      </el-button>
    </div>
  </div>

</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addMortalityResource = new Resource('livestock/mortalities/store');
const fetchLivestockBatchesResource = new Resource('livestock/fetch-batches');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => ([]),
    },
  },
  data() {
    return {
      live_stocks: [],
      batches: [],
      new_mortality: {
        livestock_id: '',
        batch_id: '',
        death_date: '',
        cause_of_death: '',
        quantity: 1,

      },
      savingMortality: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addMortality() {
      const app = this;
      const params = app.new_mortality;
      app.savingMortality = true;
      addMortalityResource
        .store(params)
        .then(response => {
          app.savingMortality = false;
          app.emptyForm();
          app.$emit('save', response.livestock_mortality);
        })
        .catch(error => {
          console.log(error.message);
          app.savingMortality = false;
        });
    },
    fetchLivestockBatch() {
      const app = this;
      const livestock_id = app.new_mortality.livestock_id;
      app.new_mortality.batch_id = '';
      fetchLivestockBatchesResource.get(livestock_id).then(response => {
        app.batches = response.batches;
        app.new_mortality.batch_id = app.batches[0].id;
      });
    },
    emptyForm(){
      this.new_mortality = {
        livestock_id: '',
        name: '',
      };
    },
  },
};
</script>
