<template>
  <div v-loading="editingMortality" class="form-container">
    <el-form
      ref="selectedMortality"
      :model="selectedMortality"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Livestock" prop="live_stock">
        <el-select
          v-model="selectedMortality.livestock_id"
          placeholder="Select Livestock"
          filterable
          class="span"
          @input="fetchLivestockBatch()"
        >
          <el-option
            v-for="(live_stock, index) in liveStocks"
            :key="index"
            :value="live_stock.id"
            :label="
              live_stock.name.toUpperCase() +
                ' (' +
                live_stock.category.name +
                ')'
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Batch" prop="live_stock">
        <el-select
          v-model="selectedMortality.batch_id"
          placeholder="Select Batch"
          filterable
          class="span"
        >
          <el-option
            v-for="(batch, index) in batches"
            :key="index"
            :value="batch.id"
            :label="batch.batch_no"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Cause of Death" prop="cause_of_death">
        <el-input v-model="selectedMortality.cause_of_death" type="textarea" />
        <small>Briefly state the possible cause of death</small>
      </el-form-item>
      <el-form-item label="Mortality Date" prop="death_date">
        <el-date-picker
          v-model="selectedMortality.death_date"
          type="date"
          outline
          format="yyyy/MM/dd"
          value-format="yyyy-MM-dd"
          :picker-options="pickerOptions"
          style="width: 100%;"
        />
        <small>Set the date the livestock(s) died</small>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="selectedMortality.quantity" type="number" min="0" />
        <small>Enter the number of livestock that died from this batch</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="updateMotality()">
        Update
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

const editLiveStockMortalityResource = new Resource('livestock/mortalities/update');
const fetchLivestockBatchesResource = new Resource('livestock/fetch-batches');
export default {
  props: {
    selectedMortality: {
      type: Object,
      default: () => ({}),
    },
    liveStocks: {
      type: Array,
      default: () => ([]),
    },
  },
  data() {
    return {
      live_stocks: [],
      batches: [],
      editingMortality: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
    };
  },
  created() {
    // this.fetchAllLivestock();
    this.fetchLivestockBatch();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    updateMotality() {
      const app = this;
      const params = app.selectedMortality;
      app.editLiveStockMortalityResource = true;
      editLiveStockMortalityResource
        .update(params.id, params)
        .then(response => {
          app.editLiveStockMortalityResource = false;
          app.$emit('update', response.livestock_mortality
          );
        })
        .catch(error => {
          console.log(error.message);
          app.editLiveStockMortalityResource = false;
        });
    },
    fetchLivestockBatch() {
      const app = this;
      const livestock_id = app.selectedMortality.livestock_id;
      fetchLivestockBatchesResource.get(livestock_id).then(response => {
        app.batches = response.batches;
      });
    },
  },
};
</script>
