<template>
  <div v-if="crop !== null" class="app-container">
    <div v-if="page.option==='add_cost'">
      <a class="btn btn-danger no-print" @click="page.option='list'">Go Back</a>
      <add-planting-cost :crop="crop" @save="updateCostTable" />
    </div>
    <div v-if="page.option==='list'" class="box">
      <div class="box-header">
        <h4 class="box-title">{{ (crop) ? crop.name : '' }}</h4>
        <span class="pull-right">
          <a class="btn btn-danger" @click="$router.go(-1)">
            <i class="el-icon-back" /> Back</a>
        </span>
      </div>
      <div v-if="crop != null" class="box-body">
        <el-select
          v-model="crop.id"
          placeholder="Select Crop"
          class="span"
          @input="fetchCropDetail($event);"
        >
          <el-option
            v-for="(each_crop, index) in crops"
            :key="index"
            :value="each_crop.id"
            :label="each_crop.name"
          />
        </el-select>
        <p />
        <el-row :gutter="10" class="panel-group">
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-aqua-gradient">
              <div class="inner">
                <h4>{{ crop.cultivated.length }}</h4>
                <p>Batches Planted</p>
              </div>
              <div class="icon">
                <i class="el-icon-watermelon" />
              </div>
            </div>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-orange">
              <div class="inner">
                <h4>{{ crop.harvested.length }}</h4>
                <p>Batches Harvested</p>
              </div>
              <div class="icon">
                <i class="el-icon-grape" />
              </div>
            </div>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-green-gradient">
              <div class="inner">
                <h4>{{ currency + ' ' + Number((income !== null ) ? income.income : 0).toLocaleString() }}</h4>
                <p>Total Income</p>
              </div>
              <div class="icon">
                <i class="el-icon-circle-close" />
              </div>
            </div>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-red-gradient">
              <div class="inner">
                <h4>{{ currency + ' ' + Number((expenses !== null ) ? expenses.expenditure : 0).toLocaleString() }}</h4>
                <p>Total Expenses</p>
              </div>
              <div class="icon">
                <i class="el-icon-circle-check" />
              </div>
            </div>
          </el-col>
        </el-row>
        <el-row :gutter="10" class="panel-group">
          <el-col :xs="24" :sm="12" :lg="10" class="card-panel-col">
            <el-card>
              <div slot="header">
                Planted {{ (crop) ? crop.name : 'Crop' }}
                <span class="pull-right">
                  <a class="btn btn-info" @click="newPlantedFormVisible=true"> <i class="el-icon-plus" /> Add Planting Record</a>
                </span>
              </div>
              <v-client-table
                v-model="crop.cultivated"
                :columns="planted_column"
                :options="planted_options"
              >
                <div slot="rate" slot-scope="props">
                  {{ currency + Number(props.row.rate).toLocaleString() }}
                </div>
                <div slot="amount" slot-scope="props">
                  {{ currency + Number(props.row.amount).toLocaleString() }}
                </div>
                <div slot="date" slot-scope="props">
                  {{ moment(props.row.date).format('MMM D, YYYY') }}
                </div>
              </v-client-table>
            </el-card>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="14" class="card-panel-col">
            <el-card>
              <div slot="header">
                Harvested {{ (crop) ? crop.name : 'Crop' }}
                <span class="pull-right">
                  <a class="btn btn-info" @click="newHarvestFormVisible=true"> <i class="el-icon-plus" /> Add Harvest Record</a>
                </span>
              </div>
              <v-client-table
                v-model="crop.harvested"
                :columns="harvested_column"
                :options="harvested_options"
              >
                <div slot="date" slot-scope="props">
                  {{ moment(props.row.date).format('MMM D, YYYY') }}
                </div>
              </v-client-table>
            </el-card>
          </el-col>

        </el-row>
        <el-row :gutter="10" class="panel-group">
          <el-col :xs="24" :sm="12" :lg="10" class="card-panel-col">
            <el-card>
              <div slot="header">
                Cost of Planting {{ (crop) ? crop.name : 'Crop' }}
                <span class="pull-right">
                  <a class="btn btn-info" @click="page.option='add_cost'"> <i class="el-icon-plus" /> Add Planting Cost</a>
                </span>
              </div>
              <planting-cost :costs="crop.costs" />
            </el-card>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="14" class="card-panel-col">
            <el-card>
              <div slot="header">
                Sales of {{ (crop) ? crop.name : 'Crop' }}
                <span class="pull-right">
                  <a class="btn btn-info" @click="newCropSales = true"> <i class="el-icon-plus" />  Sell {{ (crop) ? crop.name : 'Crop' }}</a>
                </span>
              </div>
              <crop-sales :costs="crop.sold_crops" />
            </el-card>
          </el-col>

        </el-row>
      </div>
    </div>
    <el-dialog
      :title="'Add Planting Record for '+ crop.name"
      :visible.sync="newPlantedFormVisible"
    >
      <new-planted-crop :crop="crop" @save="refreshPage" />
    </el-dialog>
    <el-dialog
      :title="'Add Harvest Record for '+ crop.name"
      :visible.sync="newHarvestFormVisible"
    >
      <new-harvested-crop :crop="crop" @save="refreshPage" />
    </el-dialog>
    <el-dialog
      :title="'Add Sales Record for '+ crop.name"
      :visible.sync="newCropSales"
    >
      <new-sales-record :crop="crop" @sold="refreshPage" />
    </el-dialog>
  </div>
</template>
<script>
import moment from 'moment';
import PlantingCost from './PlantingCosts';
import CropSales from './CropSales';
import AddPlantingCost from './partials/AddPlantingCost';
import NewPlantedCrop from './partials/NewPlantedCrop';
import NewHarvestedCrop from './partials/NewHarvestedCrop';
import NewSalesRecord from './partials/NewSalesRecord';
import Resource from '@/api/resource';
export default {
  components: {
    NewPlantedCrop, AddPlantingCost, NewHarvestedCrop, PlantingCost, CropSales, NewSalesRecord,
  },
  data() {
    return {
      crops: [],
      currency: '₦',
      page: {
        option: 'list',
      },
      newPlantedFormVisible: false,
      newHarvestFormVisible: false,
      newCropSales: false,
      crop: null,
      selected_crop_id: '',
      expenses: null,
      income: null,
      planted_column: [
        'batch_no',
        'quantity_of_seedlings',
        'unit_of_measurement',
        'date',
        // 'seller.name',
        // 'confirmer.name',
      ],
      planted_options: {
        headings: {
          // 'seller.name': 'Sold By',
          // 'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        rowAttributesCallback: row => {
          if (row.confirmed_by === null) {
            return { 'style': 'background: #ff3547;' };
          } else {
            return { 'style': 'background: #77d46a;' };
          }
        },
        sortable: ['batch_no', 'date'],
        filterable: ['batch_no', 'date'],
      },
      harvested_column: [
        'batch_no',
        'cultivated.batch_no',
        'quantity',
        'sold',
        'unit_of_measurement',
        'date',
        // 'recorder.name',
        // 'confirmer.name',
      ],

      harvested_options: {
        headings: {
          'cultivated.batch_no': 'Planted Batch',
        },
        rowAttributesCallback: row => {
          if (row.confirmed_by === null) {
            return { 'style': 'background: #ff3547;' };
          } else {
            return { 'style': 'background: #77d46a;' };
          }
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['batch_no', 'cultivated.batch_no', 'date'],
        filterable: ['batch_no', 'cultivated.batch_no', 'date'],
      },
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchCropDetail(id);
    this.fetchAllCrops();
  },
  methods: {
    moment,
    fetchAllCrops() {
      const cropsResource = new Resource('crops');
      const app = this;
      cropsResource
        .list()
        .then(response => {
          app.crops = response.crops;
        });
    },
    fetchCropDetail(id){
      const cropsResource = new Resource('crops/details');
      cropsResource.get(id).then(response => {
        this.crop = response.crop;
        this.expenses = response.expenses;
        this.income = response.income;
      }).catch(error => console.log(error));
    },
    refreshPage(){
      // this.crop.cultivated.unshift(cultivated_crop);
      this.fetchCropDetail(this.crop.id);
      this.newPlantedFormVisible = false;
      this.newHarvestFormVisible = false;
      this.newCropSales = false;
    },
    updateCostTable(planting_cost){
      this.crop.costs.unshift(planting_cost);
      this.page.option = 'list';
    },
  },
};
</script>
