<template>
  <v-client-table v-model="costs" :columns="columns" :options="options">
    <div slot="rate" slot-scope="props">
      {{ currency + Number(props.row.rate).toLocaleString() }}
    </div>
    <div slot="amount" slot-scope="props">
      {{ currency + Number(props.row.amount).toLocaleString() }}
    </div>
    <div slot="created_at" slot-scope="props">
      {{ moment(props.row.created_at).format('MMM D, YYYY') }}
    </div>
    <div slot="action" slot-scope="props">
      <router-link
        :to="'/crops/details/' + props.row.id"
      >
        <el-button
          round
          type="primary"
          size="small"
          icon="el-icon-view"
        >View Details
        </el-button>
      </router-link>
    </div>
  </v-client-table>
</template>

<script>
import moment from 'moment';
// import Resource from '@/api/resource';
export default {
  props: {
    costs: {
      type: Array,
      default: () => ([]),
    },
  },
  data() {
    return {
      columns: [
        'quantity',
        'rate',
        'amount',
        'description',
        'recorder.name',
      ],
      currency: '₦',
      options: {
        headings: {
          created_at: 'Record Date',
          'recorder.name': 'Recorded By',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['batch_no'],
        filterable: ['batch_no'],
      },
    };
  },
  mounted() {
  },
  methods: {
    moment,
  },
};
</script>
