<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Manage Crops</h4>
      </div>
      <div class="box-body">
        <aside>
          <div v-loading="savingCrop" class="form-container">
            <el-form ref="new_batch" :model="form" label-position="left" label-width="100px" style="max-width: 100%;">
              <el-form-item label="Add Crop" prop="name">
                <el-input v-model="form.name" placeholder="Crop name" />
                <p />
                <el-button type="success" @click="addCrop()">
                  Submit
                </el-button>
              </el-form-item>
            </el-form>
          </div>
        </aside>
        <v-client-table v-model="crops" :columns="columns" :options="options">
          <div slot="created_at" slot-scope="props">
            {{ moment(props.row.created_at).format('MMM D, YYYY') }}
          </div>
          <div slot="action" slot-scope="props">
            <router-link
              :to="'/crops/details/' + props.row.id"
            >
              <el-button
                round
                type="primary"
                size="small"
                icon="el-icon-view"
              >View Details
              </el-button>
            </router-link>
          </div>
        </v-client-table>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import Resource from '@/api/resource';
export default {
  components: {
    // AgGridVue
  },
  data() {
    return {
      crops: [],
      columns: [
        'name',
        'action',
      ],

      options: {
        headings: {
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['name'],
        filterable: ['name'],
      },
      page: {
        option: 'list',
      },
      form: {
        name: '',
      },
      savingCrop: false,
    };
  },
  mounted() {
    this.fetchAllCrops();
  },
  methods: {
    moment,
    fetchAllCrops() {
      const cropsResource = new Resource('crops');
      const app = this;
      const loader = cropsResource.loaderShow();
      cropsResource
        .list()
        .then(response => {
          app.crops = response.crops;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    addCrop(){
      const addCropResource = new Resource('crops/store');
      const app = this;
      const params = app.form;
      app.savingCrop = true;
      addCropResource
        .store(params)
        .then(response => {
          app.form.name = '';
          app.crops.unshift(response.crop);
          app.savingCrop = false;
        })
        .catch(error => {
          console.log(error.message);
          app.savingCrop = false;
        });
    },
  },
};
</script>
