<template>
  <v-client-table v-model="costs" :columns="columns" :options="options">
    <div slot="child_row" slot-scope="props">
      <aside>
        <legend>Expenses details</legend>
        <v-client-table v-model="props.row.details" :columns="['description', 'quantity', 'rate', 'amount']">
          <div slot="rate" slot-scope="{row}">
            {{ currency + parseFloat(row.rate).toLocaleString() }}
          </div>
          <div slot="amount" slot-scope="{row}">
            {{ currency + parseFloat(row.amount).toLocaleString() }}
          </div>
        </v-client-table>
      </aside>

    </div>
    <div slot="total_amount" slot-scope="props">
      {{ currency + Number(props.row.total_amount).toLocaleString() }}
    </div>
    <div slot="created_at" slot-scope="props">
      {{ moment(props.row.created_at).format('MMM D, YYYY') }}
    </div>
    <div slot="action" slot-scope="props">
      <router-link
        :to="'/crops/details/' + props.row.id"
      >
        <el-button
          round
          type="primary"
          size="small"
          icon="el-icon-view"
        >View Details
        </el-button>
      </router-link>
    </div>
  </v-client-table>
</template>

<script>
import moment from 'moment';
// import Resource from '@/api/resource';
export default {
  props: {
    costs: {
      type: Array,
      default: () => ([]),
    },
  },
  data() {
    return {
      columns: [
        'batch_no',
        'total_amount',
        'created_at',
      ],
      currency: '₦',
      options: {
        headings: {
          created_at: 'Record Date',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['batch_no'],
        filterable: ['batch_no'],
      },
    };
  },
  mounted() {
  },
  methods: {
    moment,
  },
};
</script>
