<template>
  <div v-loading="savingFeeding" class="form-container">
    <el-form
      ref="selectedFeeding"
      :model="selectedFeeding"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Livestock" prop="live_stock">
        <el-select
          v-model="selectedFeeding.livestock_id"
          placeholder="Select Livestock"
          filterable
          class="span"
          @input="
            fetchLivestockBatch();
            fetchFeedStockBatch();
          "
        >
          <el-option
            v-for="(live_stock, index) in liveStocks"
            :key="index"
            :value="live_stock.id"
            :label="
              live_stock.name.toUpperCase() +
                ' (' +
                live_stock.category.name +
                ')'
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Batch" prop="live_stock">
        <el-select
          v-model="selectedFeeding.live_stock_batch_id"
          placeholder="Select Batch"
          filterable
          class="span"
        >
          <el-option
            v-for="(batch, index) in batches"
            :key="index"
            :value="batch.id"
            :label="batch.batch_no"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Feed" prop="feed_stock_batch_id">
        <el-select
          v-model="selectedFeeding.selected_feed_batch_index"
          placeholder="Select Feed"
          filterable
          class="span"
          @input="setSelectedFeedBatch()"
        >
          <el-option
            v-for="(feed_batch, index) in feed_stock_batches"
            :key="index"
            :value="index"
            :label="
              feed_batch.feed.name +
                ' (' +
                feed_batch.batch_no +
                ')'
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Feeding Date" prop="feeding_date">
        <el-date-picker
          v-model="selectedFeeding.feeding_date"
          type="date"
          outline
          format="yyyy/MM/dd"
          value-format="yyyy-MM-dd"
          :picker-options="pickerOptions"
          style="width: 100%;"
        />
        <small>Set the date of feeding</small>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="selectedFeeding.quantity" type="number" min="0">
          <template slot="append">{{ package_type }}</template>
        </el-input>
        <small>Enter the quantity of feed consumed in {{ package_type }} ({{ net_weight + unit_of_measurement }} each)</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="editFeeding()">
        Update
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addFeedingResource = new Resource('livestock/feedings/update');
const fetchLivestockBatchesResource = new Resource('livestock/fetch-batches');
const fetchFeedStockBatchesResource = new Resource(
  'inventory/feed-stock/fetch-batches'
);
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => [],
    },
    selectedFeeding: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      batches: [],
      feed_stock_batches: [],
      // selectedFeeding: {
      //   livestock_id: '',
      //   live_stock_batch_id: '',
      //   feeding_date: '',
      //   feed_stock_batch_id: '',
      //   quantity: '',
      //   selected_feed_batch_index: '',
      // },
      savingFeeding: false,
      package_type: '',
      net_weight: '',
      unit_of_measurement: '',
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
    };
  },
  mounted() {
    this.fetchLivestockBatch();
    this.fetchFeedStockBatch();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    editFeeding() {
      const app = this;
      const params = app.selectedFeeding;
      app.savingFeeding = true;
      addFeedingResource
        .update(params.id, params)
        .then(response => {
          app.savingFeeding = false;
          app.$emit('update', response.feeding);
        })
        .catch(error => {
          console.log(error.message);
          app.savingFeeding = false;
        });
    },
    fetchLivestockBatch() {
      const app = this;
      const livestock_id = app.selectedFeeding.livestock_id;
      // app.selectedFeeding.batch_id = '';
      fetchLivestockBatchesResource.get(livestock_id).then(response => {
        app.batches = response.batches;
        // app.selectedFeeding.batch_id = app.batches[0].id;
      });
    },
    fetchFeedStockBatch() {
      const app = this;
      const livestock_id = app.selectedFeeding.livestock_id;
      fetchFeedStockBatchesResource.get(livestock_id).then(response => {
        app.feed_stock_batches = response.feed_stock_batches;
      });
    },
    setSelectedFeedBatch() {
      const app = this;
      const index = app.selectedFeeding.selected_feed_batch_index;
      app.selectedFeeding.feed_stock_batch_id = app.feed_stock_batches[index].id;
      app.package_type = app.feed_stock_batches[index].package_type;
      app.unit_of_measurement = app.feed_stock_batches[index].unit_of_measurement;
      app.net_weight = app.feed_stock_batches[index].net_weight;
    },
  },
};
</script>
