<template>
  <div v-loading="savingFertilizer" class="form-container">
    <el-form
      ref="new_fertilizer_stock"
      :model="new_fertilizer_stock"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Type" prop="type">
        <el-select
          v-model="new_fertilizer_stock.type"
          placeholder="Select Type"
          filterable
          class="span"
        >
          <el-option
            v-for="(type, index) in fertilizer_types"
            :key="index"
            :value="type"
            :label="
              type.toUpperCase()
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="new_fertilizer_stock.quantity" type="number">
          <template slot="append">Bags</template>
        </el-input>
        <small>Enter the quantity of fertilizers in bags to add</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addFertilizer()">
        Submit
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addFertilizerResource = new Resource('inventory/fertilizer/store');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      live_stocks: [],
      livestock_batches: [],
      new_fertilizer_stock: {
        type: '',
        quantity: 1,
      },
      fertilizer_types: ['Manure', 'NPK Fertilizers', 'Urea Fertilizers'],
      savingFertilizer: false,
    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addFertilizer() {
      const app = this;
      const params = app.new_fertilizer_stock;
      app.savingFertilizer = true;
      addFertilizerResource
        .store(params)
        .then(response => {
          app.savingFertilizer = false;
          app.emptyForm();
          app.$emit('save', response.fetilizers);
        })
        .catch(error => {
          console.log(error.message);
          app.savingFertilizer = false;
        });
    },
    emptyForm() {
      this.new_fertilizer_stock = {
        quantity: 1,
      };
    },
  },
};
</script>
