<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Live Stock Batches</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['stock livestock'])" class="btn btn-info" @click="dialogFormVisible=true"> <i class="el-icon-plus" /> Add New</a>
        </span>
      </div>
      <div class="box-body">
        <v-client-table
          v-model="live_stock_batches"
          :columns="columns"
          :options="options"
        >
          <div slot="date_stocked" slot-scope="props">
            {{ moment(props.row.date_stocked).format('MMM D, YYYY') }}
          </div>

          <div slot="stocked_age_in_days" slot-scope="props">
            {{ calculateAgeInWeeks(props.row.stocked_age_in_days) }}
          </div>

          <div slot="current_age" slot-scope="props">
            {{ calculateCurrentAge(props.row.stocked_age_in_days, props.row.date_stocked) }}
          </div>
          <div slot="rate" slot-scope="props">
            {{ currency + Number(props.row.rate).toLocaleString() }}
          </div>
          <div slot="amount" slot-scope="props" class="alert alert-success">
            {{ currency + Number(props.row.rate * props.row.quantity_stocked).toLocaleString() }}
          </div>

          <div slot="action" slot-scope="props">
            <router-link
              class="btn btn-default"
              :to="{name: 'LivestockBatchDetails', params: { id: props.row.id}}"
            ><i class="fa fa-eye" />
            </router-link>
            <span v-if="props.row.confirmed_by === null">
              <a
                v-if="checkPermission(['stock livestock'])"
                class="btn btn-warning"
                @click="selected_index = props.index; selected_batch = props.row; editFormVisible=true;"
              ><i class="fa fa-edit" />
              </a>
              <a
                v-if="checkPermission(['stock livestock'])"
                class="btn btn-danger"
                @click="deleteStock(props.row.id, props.row, props.index)"
              ><i class="fa fa-trash" />
              </a>
            </span>
          </div>
          <div slot="confirmer.name" slot-scope="props">
            <span v-if="props.row.confirmed_by !== null">
              {{ props.row.confirmer.name }}
            </span>
            <span v-else>
              <div v-if="checkPermission(['confirm stocked livestock'])">
                <a
                  class="btn btn-success"
                  @click="confirmStock(props.row.id, props.row, props.index)"
                ><i class="fa fa-check" />
                </a>
              </div>
              <div v-else class="alert alert-danger">
                Not Confirmed
              </div>

            </span>
          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add New Livestock Batch'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-batch :live-stocks="live_stocks" @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Batch'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-batch :selected-batch="selected_batch" :live-stocks="live_stocks" @update="updateTable" />
    </el-dialog>

  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddBatch from './partials/Batch/Add';
import EditBatch from './partials/Batch/Edit';
const liveStockResource = new Resource('livestock');
const liveStockBatchResource = new Resource('livestock/batch');
const confirmLiveStockBatchResource = new Resource('livestock/batch/confirm-batch');
const deleteLiveStockBatchResource = new Resource('livestock/batch/destroy');
export default {
  components: {
    AddBatch,
    EditBatch,

  },
  data() {
    return {
      live_stocks: [],
      live_stock_batches: [],
      columns: ['action', 'batch_no', 'live_stock.name', 'stocked_age_in_days', 'current_age', 'live_stock.category.name', 'quantity_stocked', 'rate', 'amount', 'date_stocked', 'stock_officer.name', 'confirmer.name'],

      options: {
        headings: {
          batch_no: 'Batch No.',
          'live_stock.name': 'Name',
          'stocked_age_in_days': 'Stocked Age',
          'current_age': 'Current Age',
          'live_stock.category.name': 'Category',
          'quantity_stocked': 'Quantity Stocked',
          'rate': 'Rate',
          amount: 'Total Amount',
          'date_stocked': 'Date Stocked',
          'stock_officer.name': 'Stocked by',
          'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['live_stock.name', 'live_stock.category.name', 'date_stocked'],
        filterable: ['live_stock.name', 'live_stock.category.name', 'date_stocked'],
      },
      page: {
        option: 'list',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_batch: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchAllLivestock();
    this.fetchLivestockBatches();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchAllLivestock() {
      const app = this;
      liveStockResource
        .list()
        .then(response => {
          app.live_stocks = response.live_stocks;
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    fetchLivestockBatches() {
      const app = this;
      const loader = liveStockBatchResource.loaderShow();
      liveStockBatchResource
        .list()
        .then(response => {
          app.live_stock_batches = response.live_stock_batches;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal(){
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(new_row) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      app.live_stock_batches.unshift(new_row);
      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.live_stock_batches.splice(app.selected_index - 1, 1, updated_row);
      app.closeModal();
    },
    confirmStock(id, batch, index){
      const app = this;
      const message = 'Are you sure you want to confirm Batch: ' + batch.batch_no + '? Click OK to Confirm.';
      if (confirm(message)) {
        const loader = confirmLiveStockBatchResource.loaderShow();
        confirmLiveStockBatchResource
          .update(id, batch)
          .then(response => {
            app.live_stock_batches.splice(index - 1, 1, response.live_stock_batch);
            // const i = app.live_stock_batches.indexOf(batch);
            // app.live_stock_batches[i] = response.live_stock_batch;
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    deleteStock(id, batch, index){
      const app = this;
      const message = 'Are you sure you want to delete Batch: ' + batch.batch_no + '? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteLiveStockBatchResource.loaderShow();
        deleteLiveStockBatchResource
          .destroy(id)
          .then(response => {
            app.live_stock_batches.splice(index - 1, 1);
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    calculateAgeInWeeks(stocked_age){
      const modulus_7 = stocked_age % 7;
      if (modulus_7 > 0) {
        return (stocked_age - modulus_7) / 7 + ' week(s), ' + modulus_7 + ' day(s)';
      }
      return stocked_age / 7 + ' week(s)';
    },
    calculateCurrentAge(stocked_age, stocked_date){
      // var d = new Date();
      const stocked_date_value = parseInt(moment(stocked_date).format('x'));
      const today = parseInt(this.moment(new Date()).format('x'));
      const diff = (today - stocked_date_value) / (24 * 60 * 60 * 1000);// in days
      const current_age = parseInt(diff + stocked_age);
      const modulus_7 = current_age % 7;
      if (modulus_7 > 0) {
        return (current_age - modulus_7) / 7 + ' week(s), ' + modulus_7 + ' day(s)';
      }
      return current_age / 7 + ' week(s)';
    },
  },
};
</script>
