<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Livestock Feedings</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['feed livestock'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> Add New Record</a>
        </span>
      </div>
      <div class="box-body">
        <v-client-table
          v-model="feedings"
          :columns="columns"
          :options="options"
        >
          <div slot="quantity" slot-scope="props">
            {{
              props.row.quantity + ' ' + props.row.feed_batch.package_type
            }}
          </div>
          <div slot="action" slot-scope="props">
            <span>
              <router-link
                class="btn btn-default"
                :to="{name: 'LivestockBatchDetails', params: { id: props.row.livestock_batch.id}}"
              ><i class="fa fa-eye" />
              </router-link>
              <!-- <a
                v-if="checkPermission(['feed livestock'])"
                class="btn btn-warning"
                @click="
                  selected_index = props.index;
                  selected_feeding = props.row;
                  editFormVisible = true;
                "
              ><i class="fa fa-edit" />
              </a> -->
              <a
                v-if="checkPermission(['feed livestock'])"
                class="btn btn-danger"
                @click="
                  deleteStockFeeding(
                    props.row.id,
                    props.row.name,
                    props.index
                  )
                "
              ><i class="fa fa-trash" />
              </a>
            </span>
            <!--  -->
          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add New Livestock Feeding'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-feeding :live-stocks="live_stocks" @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Feeding Record'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-feeding
        v-if="editFormVisible"
        :selected-feeding="selected_feeding"
        :live-stocks="live_stocks"
        @update="updateTable"
      />
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddFeeding from './partials/Feedings/Add';
import EditFeeding from './partials/Feedings/Edit';

const liveStockResource = new Resource('livestock');
const liveStockFeedingsResource = new Resource('livestock/feedings');

const deleteLiveStockFeedingsResource = new Resource(
  'livestock/feedings/destroy'
);
export default {
  components: {
    AddFeeding,
    EditFeeding,
  },
  data() {
    return {
      live_stocks: [],
      feedings: [],
      columns: [
        'action',
        'livestock_batch.live_stock.name',
        'livestock_batch.batch_no',
        'feed_batch.feed.name',
        'feed_batch.batch_no',
        'quantity',
        'feeder.name',
        'feeding_date',
      ],

      options: {
        headings: {
          'livestock_batch.live_stock.name': 'Livestock',
          'livestock_batch.batch_no': 'Livestock Batch',
          'feed_batch.feed.name': 'Feed',
          'feed_batch.batch_no': 'Feed Stock Batch',
          'quantity': 'Feed Quantity',
          'feeder.name': 'Administered By',
          feeding_date: 'Date',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: [
          'livestock_batch.live_stock.name',
          'livestock_batch.batch_no',
          'feed_batch.feed.name',
          'feed_batch.batch_no',
          'quantity',
          'feeder.name',
          'feeding_date',
        ],
        filterable: [
          'livestock_batch.live_stock.name',
          'livestock_batch.batch_no',
          'feed_batch.feed.name',
          'feed_batch.batch_no',
          'quantity',
          'feeder.name',
          'feeding_date',
        ],
      },
      page: {
        option: 'list',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_feeding: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchAllLivestock();
    this.fetchFeedings();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchAllLivestock() {
      const app = this;
      liveStockResource
        .list()
        .then(response => {
          app.live_stocks = response.live_stocks;
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    fetchFeedings() {
      const app = this;
      const loader = liveStockFeedingsResource.loaderShow();
      liveStockFeedingsResource
        .list()
        .then(response => {
          app.feedings = response.feedings;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(feedings) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      // app.feedings.unshift(new_row);
      app.feedings = feedings;
      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.feedings.splice(app.selected_index - 1, 1, updated_row);
      app.closeModal();
    },
    deleteStockFeeding(id, name, index) {
      const app = this;
      const message =
        'Are you sure you want to delete this record? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteLiveStockFeedingsResource.loaderShow();
        deleteLiveStockFeedingsResource
          .destroy(id)
          .then(response => {
            app.feedings.splice(index - 1, 1);
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
  },
};
</script>
