<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Live Stocks</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission(['manage item stocks', 'create item stocks'])" class="btn btn-info" @click="page.option = 'add_new'"> Add New</a>
        </span> -->
      </div>
      <div class="box-body">
        <v-client-table v-model="livestocks" :columns="columns" :options="options">
          <div slot="created_at" slot-scope="props">
            {{ moment(props.row.created_at).format('MMM D, YYYY') }}
          </div>
          <div slot="action" slot-scope="props">
            <a
              class="btn btn-default"
              @click="
                selected_income = props.row;
                page.option = 'view_details';
              "
            ><i class="fa fa-eye" />
            </a>
          </div>
        </v-client-table>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import Resource from '@/api/resource';
const liveStockResource = new Resource('livestock');
export default {
  components: {
    // AgGridVue
  },
  data() {
    return {
      livestocks: [],
      columns: [
        'action',
        'name',
        'category.name',
        'created_at',
      ],

      options: {
        headings: {
          'category.name': 'Category',
          created_at: 'Date Created',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['name', 'category.name', 'created_at'],
        filterable: ['name', 'category.name', 'created_at'],
      },
      page: {
        option: 'list',
      },
    };
  },
  mounted() {
    this.fetchAllLivestock();
  },
  methods: {
    moment,
    fetchAllLivestock() {
      const app = this;
      const loader = liveStockResource.loaderShow();
      liveStockResource
        .list()
        .then(response => {
          app.livestocks = response.livestocks;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
  },
};
</script>
