<template>
  <div class="app-container">
    <div class="box">
      <div class="box-header">
        <h4 class="box-title">Live Stock Details</h4>
        <span class="pull-right">
          <a class="btn btn-danger" @click="$router.go(-1)">
            <i class="el-icon-back" /> Back</a>
        </span>
      </div>
      <div v-if="live_stock_batch != ''" class="box-body">
        <el-row :gutter="10" class="panel-group">
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-gray">
              <div class="inner">
                <h3>{{ live_stock_batch.quantity_stocked }}</h3>
                <p>Quantity Stocked</p>
              </div>
              <div class="icon">
                <i class="el-icon-circle-plus-outline" />
              </div>
            </div>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-aqua-gradient">
              <div class="inner">
                <h3>{{ live_stock_batch.quantity_sold }}</h3>
                <p>Sold</p>
              </div>
              <div class="icon">
                <i class="el-icon-sold-out" />
              </div>
            </div>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-red-gradient">
              <div class="inner">
                <h3>{{ live_stock_batch.quantity_dead }}</h3>
                <p>Dead</p>
              </div>
              <div class="icon">
                <i class="el-icon-circle-close" />
              </div>
            </div>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
            <div class="small-box bg-green-gradient">
              <div class="inner">
                <h3>{{ live_stock_batch.quantity_stocked - live_stock_batch.quantity_dead - live_stock_batch.quantity_sold }}</h3>
                <p>Available</p>
              </div>
              <div class="icon">
                <i class="el-icon-circle-check" />
              </div>
            </div>
          </el-col>
        </el-row>
        <el-row :gutter="10" class="panel-group">
          <el-col :xs="24" :sm="12" :lg="6" class="card-panel-col">
            <el-card v-if="live_stock_batch.live_stock">
              <div class="user-profile">
                <div class="user-avatar box-center">
                  <img :src="'/'+live_stock_batch.live_stock.photo" :height="'150px'" :width="'200px'" :hoverable="false">
                </div>
                <div class="box-center">
                  <h3 class="user-name text-center">
                    {{ live_stock_batch.live_stock.name }}
                  </h3>
                  <div class="user-role text-center text-muted">
                    Batch: {{ live_stock_batch.batch_no }}
                  </div>
                  <div class="user-role text-center text-muted">
                    Age: {{ calculateCurrentAge(live_stock_batch.stocked_age_in_days, live_stock_batch.date_stocked) }}
                  </div>
                </div>
              </div>
            </el-card>
            <el-card>
              <div class="clearfix">
                <span>Stock Date: {{ moment(live_stock_batch.date_stocked).format('MMM D, YYYY') }}</span>
              </div>
            </el-card>
            <el-card>
              <div v-if="live_stock_batch.stock_officer" class="clearfix">
                <span>Stocked By: {{ live_stock_batch.stock_officer.name }}</span>
              </div>
            </el-card>
            <el-card>
              <div v-if="live_stock_batch.confirmer" class="clearfix">
                <span>Confirmed By: {{ live_stock_batch.confirmer.name }}</span>
              </div>
            </el-card>

          </el-col>
          <el-col :xs="24" :sm="12" :lg="18" class="card-panel-col">
            <el-row :gutter="10" class="panel-group">
              <el-col :xs="24" :sm="12" :lg="12" class="card-panel-col">
                <el-card v-if="live_stock_batch.live_stock">
                  <div slot="header">Sales History</div>
                  <v-client-table
                    v-model="live_stock_batch.sales"
                    :columns="sales_column"
                    :options="sales_options"
                  >
                    <div slot="rate" slot-scope="props">
                      {{ currency + Number(props.row.rate).toLocaleString() }}
                    </div>
                    <div slot="amount" slot-scope="props">
                      {{ currency + Number(props.row.amount).toLocaleString() }}
                    </div>
                  </v-client-table>
                </el-card>
              </el-col>
              <el-col :xs="24" :sm="12" :lg="12" class="card-panel-col">
                <el-card v-if="live_stock_batch.live_stock">
                  <div slot="header">Mortalities History</div>
                  <v-client-table
                    v-model="live_stock_batch.mortalities"
                    :columns="mortalities_column"
                    :options="mortalities_options"
                  />
                </el-card>
              </el-col>
            </el-row>
            <el-row :gutter="10" class="panel-group">
              <el-col :xs="24" :sm="12" :lg="12" class="card-panel-col">
                <el-card v-if="live_stock_batch.live_stock">
                  <div slot="header">Feeding History</div>
                  <v-client-table
                    v-model="live_stock_batch.feedings"
                    :columns="feedings_column"
                    :options="feedings_options"
                  >
                    <div slot="quantity" slot-scope="props">
                      {{ props.row.quantity + ' ' + props.row.feed_batch.package_type }}
                    </div>
                  </v-client-table>

                </el-card>
              </el-col>
              <el-col :xs="24" :sm="12" :lg="12" class="card-panel-col">
                <el-card v-if="live_stock_batch.live_stock">
                  <div slot="header">Medication History</div>
                  <v-client-table
                    v-model="live_stock_batch.medications"
                    :columns="medications_column"
                    :options="medications_options"
                  >
                    <div slot="quantity" slot-scope="props">
                      {{ props.row.quantity + ' ' + props.row.medicine_batch.package_type }}
                    </div>
                  </v-client-table>
                </el-card>
              </el-col>
            </el-row>
          </el-col>

        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
// import PanThumb from '@/components/PanThumb';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
const livestockBatchDetailsResource = new Resource('livestock/batch/details');
export default {
  // components: { PanThumb },
  data() {
    return {
      live_stock_batch: '',
      dialogFormVisible: false,
      editFormVisible: false,
      selected_batch: '',
      currency: '₦',
      selected_index: '',
      sales_column: [
        'quantity',
        'rate',
        'amount',
        // 'seller.name',
        // 'confirmer.name',
      ],
      sales_options: {
        headings: {
          // 'seller.name': 'Sold By',
          // 'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        rowAttributesCallback: row => {
          if (row.confirmed_by === null) {
            return { 'style': 'background: #ff3547;' };
          } else {
            return { 'style': 'background: #77d46a;' };
          }
        },
        sortable: [],
        filterable: [],
      },
      mortalities_column: [
        'quantity',
        'death_date',
        'cause_of_death',
        // 'recorder.name',
        // 'confirmer.name',
      ],

      mortalities_options: {
        headings: {
          'death_date': 'Date',
          'cause_of_death': 'Cause',
          // 'recorder.name': 'Recorded By',
          // 'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        rowAttributesCallback: row => {
          if (row.confirmed_by === null) {
            return { 'style': 'background: #ff3547;' };
          } else {
            return { 'style': 'background: #77d46a;' };
          }
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['death_date'],
        filterable: ['cause_of_death', 'death_date'],
      },
      feedings_column: [
        'quantity',
        'feeding_date',
        // 'recorder.name',
        // 'confirmer.name',
      ],

      feedings_options: {
        headings: {
          'feeding_date': 'Date',
          // 'recorder.name': 'Recorded By',
          // 'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: [],
        filterable: [],
      },
      medications_column: [
        'quantity',
        'medication_date',
        // 'recorder.name',
        // 'confirmer.name',
      ],

      medications_options: {
        headings: {
          'medication_date': 'Date',
          // 'recorder.name': 'Recorded By',
          // 'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: [],
        filterable: [],
      },
    };
  },
  mounted() {
    this.fetchLivestockBatch();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchLivestockBatch() {
      const app = this;
      const id = app.$route.params && this.$route.params.id;
      const loader = livestockBatchDetailsResource.loaderShow();
      livestockBatchDetailsResource
        .get(id)
        .then(response => {
          app.live_stock_batch = response.live_stock_batch;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(new_row) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      app.live_stock_batches.unshift(new_row);
      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.live_stock_batches.splice(app.selected_index - 1, 1, updated_row);
      app.closeModal();
    },
    calculateAgeInWeeks(stocked_age) {
      const modulus_7 = stocked_age % 7;
      if (modulus_7 > 0) {
        return (
          (stocked_age - modulus_7) / 7 + ' week(s), ' + modulus_7 + ' day(s)'
        );
      }
      return stocked_age / 7 + ' week(s)';
    },
    calculateCurrentAge(stocked_age, stocked_date) {
      // var d = new Date();
      const stocked_date_value = parseInt(moment(stocked_date).format('x'));
      const today = parseInt(this.moment(new Date()).format('x'));
      const diff = (today - stocked_date_value) / (24 * 60 * 60 * 1000); // in days
      const current_age = parseInt(diff + stocked_age);
      const modulus_7 = current_age % 7;
      if (modulus_7 > 0) {
        return (
          (current_age - modulus_7) / 7 + ' week(s), ' + modulus_7 + ' day(s)'
        );
      }
      return current_age / 7 + ' week(s)';
    },
  },
};
</script>
