<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Livestock Medications</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['vaccinate livestock'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> Add New Record</a>
        </span>
      </div>
      <div class="box-body">
        <v-client-table
          v-model="medications"
          :columns="columns"
          :options="options"
        >
          <div slot="quantity" slot-scope="props">
            {{ props.row.quantity + ' ' + props.row.medicine_batch.package_type }}
          </div>
          <div slot="action" slot-scope="props">
            <span>
              <router-link
                class="btn btn-default"
                :to="{name: 'LivestockBatchDetails', params: { id: props.row.livestock_batch.id}}"
              ><i class="fa fa-eye" />
              </router-link>
              <!-- <a
                v-if="checkPermission(['vaccinate livestock'])"
                class="btn btn-warning"
                @click="
                  selected_index = props.index;
                  selected_medication = props.row;
                  editFormVisible = true;
                "
              ><i class="fa fa-edit" />
              </a> -->
              <a
                v-if="checkPermission(['vaccinate livestock'])"
                class="btn btn-danger"
                @click="
                  deleteStockMedication(
                    props.row.id,
                    props.row.name,
                    props.index
                  )
                "
              ><i class="fa fa-trash" />
              </a>
            </span>
            <!--  -->
          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add New Livestock Medication'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-medication :live-stocks="live_stocks" @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Medication Record'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-medication
        v-if="editFormVisible"
        :selected-medication="selected_medication"
        :live-stocks="live_stocks"
        @update="updateTable"
      />
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddMedication from './partials/Medications/Add';
import EditMedication from './partials/Medications/Edit';

const liveStockResource = new Resource('livestock');
const liveStockMedicationsResource = new Resource('livestock/medications');

const deleteLiveStockMedicationsResource = new Resource(
  'livestock/medications/destroy'
);
export default {
  components: {
    AddMedication,
    EditMedication,
  },
  data() {
    return {
      live_stocks: [],
      medications: [],
      columns: [
        'action',
        'livestock_batch.live_stock.name',
        'livestock_batch.batch_no',
        'medicine_batch.medicine.name',
        'medicine_batch.batch_no',
        'quantity',
        'administered_by.name',
        'medication_date',
      ],

      options: {
        headings: {
          'livestock_batch.live_stock.name': 'Livestock',
          'livestock_batch.batch_no': 'Livestock Batch',
          'medicine_batch.medicine.name': 'Medicine',
          'medicine_batch.batch_no': 'Medicine Stock Batch',
          'quantity': 'Medicine Quantity',
          'administered_by.name': 'Administered By',
          'medication_date': 'Date',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: [
          'livestock_batch.live_stock.name',
          'livestock_batch.batch_no',
          'medicine_batch.medicine.name',
          'medicine_batch.batch_no',
          'quantity',
          'administered_by.name',
          'medication_date',
        ],
        filterable: [
          'livestock_batch.live_stock.name',
          'livestock_batch.batch_no',
          'medicine_batch.medicine.name',
          'medicine_batch.batch_no',
          'quantity',
          'administered_by.name',
          'medication_date',
        ],
      },
      page: {
        option: 'list',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_medication: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchAllLivestock();
    this.fetchMedications();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchAllLivestock() {
      const app = this;
      liveStockResource
        .list()
        .then(response => {
          app.live_stocks = response.live_stocks;
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    fetchMedications() {
      const app = this;
      const loader = liveStockMedicationsResource.loaderShow();
      liveStockMedicationsResource
        .list()
        .then(response => {
          app.medications = response.medications;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(medications) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      // app.medications.unshift(new_row);
      app.medications = medications;
      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.medications.splice(app.selected_index - 1, 1, updated_row);
      app.closeModal();
    },
    deleteStockMedication(id, name, index) {
      const app = this;
      const message =
        'Are you sure you want to delete this record? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteLiveStockMedicationsResource.loaderShow();
        deleteLiveStockMedicationsResource
          .destroy(id)
          .then(response => {
            app.medications.splice(index - 1, 1);
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
  },
};
</script>
