<template>
  <div class="app-container">
    <div v-if="page.option == 'list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Mortalities</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission([])" class="btn btn-info" @click="dialogFormVisible=true"> Add New</a>
        </span> -->
        <span class="pull-right">
          <a v-if="checkPermission(['record livestock mortality'])" class="btn btn-info" @click="dialogFormVisible = true">
            <i class="el-icon-plus" /> Add New Record</a>
        </span>
      </div>
      <div class="box-body">
        <v-client-table
          v-model="livestock_mortalities"
          :columns="columns"
          :options="options"
        >
          <div slot="confirmer.name" slot-scope="props">
            <span v-if="props.row.confirmed_by !== null">
              {{ props.row.confirmer.name }}
            </span>
            <span v-else>
              <div v-if="checkPermission(['confirm mortality'])">
                <a
                  class="btn btn-success"
                  @click="confirmMortality(props.row.id, props.row, props.index)"
                ><i class="fa fa-check" />
                </a>
              </div>
              <div v-else class="alert alert-danger">
                Not Confirmed
              </div>

            </span>
          </div>
          <div slot="action" slot-scope="props">
            <span v-if="props.row.confirmed_by !== null">
              <router-link
                class="btn btn-default"
                :to="{name: 'LivestockBatchDetails', params: { id: props.row.batch.id}}"
              ><i class="fa fa-eye" />
              </router-link>
            </span>
            <span v-else>
              <a
                v-if="checkPermission(['record livestock mortality'])"
                class="btn btn-warning"
                @click="
                  selected_index = props.index;
                  selected_mortality = props.row;
                  editFormVisible = true;
                "
              ><i class="fa fa-edit" />
              </a>
              <a
                v-if="checkPermission(['record livestock mortality'])"
                class="btn btn-danger"
                @click="
                  deleteStockMortality(props.row.id, props.row.name, props.index)
                "
              ><i class="fa fa-trash" />
              </a>

            </span>
            <!--  -->

          </div>
        </v-client-table>
      </div>
    </div>
    <el-dialog
      :title="'Add New Livestock Mortality'"
      :visible.sync="dialogFormVisible"
      :before-close="closeModal"
    >
      <add-mortality :live-stocks="live_stocks" @save="addToTable" />
    </el-dialog>
    <el-dialog
      :title="'Edit Mortality Record'"
      :visible.sync="editFormVisible"
      :before-close="closeModal"
    >
      <edit-mortality
        v-if="editFormVisible"
        :selected-mortality="selected_mortality"
        :live-stocks="live_stocks"
        @update="updateTable"
      />
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import checkPermission from '@/utils/permission';
import checkRole from '@/utils/role';
import Resource from '@/api/resource';
import AddMortality from './partials/Mortalities/Add';
import EditMortality from './partials/Mortalities/Edit';

const liveStockResource = new Resource('livestock');
const liveStockMortalitiesResource = new Resource('livestock/mortalities');
const confirmLiveStockMortalityResource = new Resource('livestock/mortalities/confirm-mortality');
const deleteLiveStockMortalitiesResource = new Resource(
  'livestock/mortalities/destroy'
);
export default {
  components: {
    AddMortality,
    EditMortality,
  },
  data() {
    return {
      live_stocks: [],
      livestock_mortalities: [],
      columns: [
        'action',
        'live_stock.name',
        'live_stock.category.name',
        'batch.batch_no',
        'quantity',
        'death_date',
        'cause_of_death',
        'recorder.name',
        'confirmer.name',
      ],

      options: {
        headings: {
          'batch.batch_no': 'Batch No.',
          'death_date': 'Death Date',
          'cause_of_death': 'Cause of Death',
          'live_stock.name': 'Livestock',
          'live_stock.category.name': 'Category',
          'recorder.name': 'Recorded By',
          'confirmer.name': 'Confirmed By',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['live_stock.name', 'batch.batch_no', 'death_date'],
        filterable: ['live_stock.name', 'batch.batch_no', 'cause_of_death', 'death_date'],
      },
      page: {
        option: 'list',
      },
      dialogFormVisible: false,
      editFormVisible: false,
      selected_mortality: '',
      currency: '₦',
      selected_index: '',
    };
  },
  mounted() {
    this.fetchAllLivestock();
    this.fetchMortalities();
  },
  methods: {
    moment,
    checkPermission,
    checkRole,
    fetchAllLivestock() {
      const app = this;
      liveStockResource
        .list()
        .then(response => {
          app.live_stocks = response.live_stocks;
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    fetchMortalities() {
      const app = this;
      const loader = liveStockMortalitiesResource.loaderShow();
      liveStockMortalitiesResource
        .list()
        .then(response => {
          app.livestock_mortalities = response.livestock_mortalities;
          loader.hide();
        })
        .catch(error => {
          loader.hide();
          console.log(error.message);
        });
    },
    closeModal() {
      this.dialogFormVisible = false;
      this.editFormVisible = false;
    },
    addToTable(new_row) {
      const app = this;
      // app.items_in_stock.splice(app.itemInStock.index-1, 1);
      app.livestock_mortalities.unshift(new_row);
      app.closeModal();
    },
    updateTable(updated_row) {
      const app = this;
      app.livestock_mortalities.splice(app.selected_index - 1, 1, updated_row);
      app.closeModal();
    },
    confirmMortality(id, mortality_row, index){
      const app = this;
      const message = 'Are you sure you want to confirm mortality of batch: ' + mortality_row.batch.batch_no + '? Click OK to Confirm.';
      if (confirm(message)) {
        const loader = confirmLiveStockMortalityResource.loaderShow();
        confirmLiveStockMortalityResource
          .update(id, mortality_row)
          .then(response => {
            app.livestock_mortalities.splice(index - 1, 1, response.livestock_mortality);
            // const i = app.live_stock_batches.indexOf(batch);
            // app.live_stock_batches[i] = response.live_stock_batch;
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
    deleteStockMortality(id, name, index) {
      const app = this;
      const message =
        'Are you sure you want to delete this record? It cannot be undone.';
      if (confirm(message)) {
        const loader = deleteLiveStockMortalitiesResource.loaderShow();
        deleteLiveStockMortalitiesResource
          .destroy(id)
          .then(response => {
            app.livestock_mortalities.splice(index - 1, 1);
            loader.hide();
          })
          .catch(error => {
            loader.hide();
            console.log(error.message);
          });
      }
    },
  },
};
</script>
