<template>
  <div class="app-container">
    <aside>
      <el-row :gutter="5">
        <el-col :xs="24" :sm="12" :md="12">
          <el-popover placement="right" trigger="click">
            <date-range-picker
              :from="$route.query.from"
              :to="$route.query.to"
              :panel="panel"
              :panels="panels"
              :submit-title="submitTitle"
              :future="future"
              @update="setDateRange"
            />
            <el-button id="pick_date" slot="reference" type="primary">
              <i class="el-icon-date" /> Pick Income Date Range
            </el-button>
          </el-popover>
        </el-col>
      </el-row>
    </aside>
    <div v-if="page.option=='list'" class="box">
      <div class="box-header">
        <h4 class="box-title">Incomes</h4>

        <!-- <span class="pull-right">
          <a v-if="checkPermission(['manage item stocks', 'create item stocks'])" class="btn btn-info" @click="page.option = 'add_new'"> Add New</a>
        </span> -->

      </div>
      <div class="box-body">
        <v-client-table v-model="incomes" :columns="columns" :options="options">
          <div slot="created_at" slot-scope="props">
            {{ moment(props.row.created_at).format('MMM D, YYYY') }}

          </div>
          <div slot="action" slot-scope="props">
            <a class="btn btn-default" @click="selected_income=props.row; page.option = 'view_details'"><i class="fa fa-eye" /> </a>
          </div>
        </v-client-table>

      </div>

    </div>
  </div>
</template>

<script>
import moment from 'moment';
import Resource from '@/api/resource';
const fetchAllIncomeResource = new Resource('account/income');
export default {
  components: {
    // AgGridVue
  },
  data() {
    return {
      incomes: [],
      columns: ['action', 'description', 'amount', 'created_at'],

      options: {
        headings: {
          created_at: 'Date',

          // id: 'S/N',
        },
        pagination: {
          dropdown: true,
          chunk: 10,
        },
        filterByColumn: false,
        texts: {
          filter: 'Search:',
        },
        // editableColumns:['name', 'category.name', 'sku'],
        sortable: ['description', 'amount', 'created_at'],
        filterable: ['description', 'amount', 'created_at'],

      },
      page: {
        option: 'list',
      },
      week_start: '',
      week_end: '',
      params: {
        from: '',
        to: '',
        panel: '',
      },
      submitTitle: 'Fetch Income',
      panel: 'month',
      future: false,
      panels: ['range', 'week', 'month', 'quarter', 'year'],
      show_calendar: false,
    };
  },
  mounted() {
    this.fetchAllIncome();
  },
  methods: {
    moment,
    fetchAllIncome() {
      const app = this;
      const loader = fetchAllIncomeResource.loaderShow();
      fetchAllIncomeResource.list(app.params).then(response => {
        app.incomes = response.incomes;
        loader.hide();
      }).catch(error => {
        loader.hide();
        console.log(error.message);
      });
    },
    showCalendar() {
      this.show_calendar = !this.show_calendar;
    },
    paramsat(date) {
      var month = date.toLocaleString('en-US', { month: 'short' });
      return month + ' ' + date.getDate() + ', ' + date.getFullYear();
    },
    setDateRange(values) {
      const app = this;
      document.getElementById('pick_date').click();
      let panel = app.panel;
      let from = app.week_start;
      let to = app.week_end;
      if (values !== '') {
        to = this.paramsat(new Date(values.to));
        from = this.paramsat(new Date(values.from));
        panel = values.panel;
      }
      app.params.from = from;
      app.params.to = to;
      app.params.panel = panel;
      app.fetchAllIncome();
    },
  },
};
</script>

