<template>
  <div v-loading="savingFertilizerSold" class="form-container">
    <el-form
      ref="new_fertilizer_sold"
      :model="new_fertilizer_sold"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Type" prop="type">
        <el-select
          v-model="new_fertilizer_sold.type"
          placeholder="Select Type"
          filterable
          class="span"
        >
          <el-option
            v-for="(type, index) in fertilizer_types"
            :key="index"
            :value="type"
            :label="
              type.toUpperCase()
            "
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input
          v-model="new_fertilizer_sold.quantity"
          type="number"
          min="0"
        >
          <template slot="append">Bags</template>
        </el-input>
        <small>Enter the quantity of fertilizers in bags</small>
      </el-form-item>
      <el-form-item label="Amount" prop="total_amount">
        <el-input v-model="new_fertilizer_sold.total_amount" type="number" min="0">
          <template slot="prepend">{{ currency }}</template>
        </el-input>
        <small>Enter the total amount for the sales</small>
      </el-form-item>

    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="addFertilizerSold()">
        Submit
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const addFertilizerSoldResource = new Resource('sales/fertilizer/store');
export default {
  props: {
    liveStocks: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      new_fertilizer_sold: {
        type: '',
        quantity: 1,
        total_amount: 0,
      },
      savingFertilizerSold: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      fertilizer_types: ['Manure', 'NPK Fertilizers', 'Urea Fertilizers'],
      units_of_measurement: ['Kg', 'Ltr'],
      currency: '₦',
    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    addFertilizerSold() {
      const app = this;
      const params = app.new_fertilizer_sold;
      app.savingFertilizerSold = true;
      addFertilizerSoldResource
        .store(params)
        .then(response => {
          app.savingFertilizerSold = false;
          app.emptyForm();
          app.$emit('save', response.fertilizer_sale);
        })
        .catch(error => {
          console.log(error.message);
          app.savingFertilizerSold = false;
        });
    },
    emptyForm() {
      this.new_fertilizer_sold = {
        quantity: 1,
        total_amount: 0,
      };
    },
  },
};
</script>
