<template>
  <div v-loading="updatingManureSold" class="form-container">
    <el-form
      ref="selectedSale"
      :model="selectedSale"
      label-position="left"
      label-width="150px"
      style="max-width: 500px;"
    >
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="selectedSale.quantity" type="number" min="0">
          <template slot="append">Bags</template>
        </el-input>
        <small>Enter the quantity of manures in bags</small>
      </el-form-item>
      <el-form-item label="Amount" prop="total_amount">
        <el-input v-model="selectedSale.total_amount" type="number" min="0">
          <template slot="prepend">{{ currency }}</template>
        </el-input>
        <small>Enter the total amount for the sales</small>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <!-- <el-button @click="closeModal">
        {{ $t('table.cancel') }}
      </el-button> -->
      <el-button type="primary" @click="editManureSold()">
        Submit
      </el-button>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';

// const liveStockResource = new Resource('livestock');
const editManureSoldResource = new Resource('sales/manure/update');
export default {
  props: {
    selectedSale: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      updatingManureSold: false,
      pickerOptions: {
        disabledDate(date) {
          var d = new Date(); // today
          d.setDate(d.getDate()); // one year from now
          return date > d;
        },
      },
      currency: '₦',
    };
  },
  mounted() {
    // this.fetchAllLivestock();
  },
  methods: {
    // fetchAllLivestock() {
    //   const app = this;
    //   liveStockResource
    //     .list()
    //     .then(response => {
    //       app.live_stocks = response.live_stocks;
    //     })
    //     .catch(error => {
    //       console.log(error.message);
    //     });
    // },
    editManureSold() {
      const app = this;
      const params = app.selectedSale;
      app.updatingManureSold = true;
      editManureSoldResource
        .update(params.id, params)
        .then(response => {
          app.updatingManureSold = false;
          app.$emit('update', response.manure_sale);
        })
        .catch(error => {
          console.log(error.message);
          app.updatingManureSold = false;
        });
    },
  },
};
</script>
