<template>
  <div class="dashboard-container">
    <component :is="currentRole" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import adminDashboard from './admin';
import farmOfficerDashboard from './farm-officer';

export default {
  // name: 'Dashboard',
  components: { adminDashboard, farmOfficerDashboard },
  data() {
    return {
      currentRole: 'adminDashboard',
    };
  },
  computed: {
    ...mapGetters([
      'roles',
    ]),
  },
  // created() {
  //   if (!this.roles.includes('admin')) {
  //     this.currentRole = 'farmOfficerDashboard';
  //   }
  // },
};
</script>
